{% extends "layouts/" + render_mode + "-tall.html" %}
{% block title %}{{_("Gravatar Profiles")}}{% endblock %}
{% block content %}
<div class="content-normal" style="max-width: 46em;">
  <h1><span class="icon-archive"></span>
    {{_("Gravatar Profiles")}}
  </h1>
  <p>
    {{_("Mailpile integrates with Gravatar (from the makers of Wordpress) to download thumbnail images of your contacts.")}}
  </p>
  <ul class="list" style="margin-left: 2em; list-style: disc">
    <li>{{_("Visit Gravatar to create your own public profile")}}:
        <a target=_blank href="https://www.gravatar.com">gravatar.com</a></li>
    <li>{{_("Once your Gravatar is configured, people using Gravatar enabled applications will be able to see your image if they know your email address")}}</li>
    <li>{{_("Mailpile keeps local copies of the thumbnails (for privacy and performance reasons), but checks periodically for updates")}}</li>
  </ul>
  <p>
    {{_("You can disable or configure Gravatar in your Privacy Settings")}}:
    <a data-dismiss=modal href="{{ U('/settings/privacy.html') }}">
      {{_("Privacy")}}
    </a>
  </p>
</div>
{% endblock %}
