<!--
This file provides a link to Mailpile's FAQ, specifically to the question that addresses the 
spam filter.
Instructions are then given for how to move messages from the Inbox to Spam
and how to move messages from Spam to the Inbox. 
-->
{% extends "layouts/" + render_mode + "-tall.html" %}
{% block title %}{{_("Managing Spam")}}{% endblock %}
{% block content %}
<div class="content-normal" style="max-width: 46em;">

  	<h1><span class="icon-spam"></span>
		{{_("Managing Spam")}}
	</h1>
	<p>
		<a href= "https://www.mailpile.is/faq/#tec-4">Learn more about Mailpile's spam filter.</a>
	</p>
	
	<p>
		{{_("We didn't catch something?")}}
		<br>
		{{_("Move message(s) from your Inbox to Spam:")}}	
		<ul class="list" style="margin-left: 2em; list-style: disc">
			<li>{{_("Go to your Inbox")}}</li>
			<li>{{_("Click the checkbox to select the message(s) you want to move.")}}
			    {{_("Use \"Ctrl\" to select multiple messages.")}}</li>
		  <li>{{_("Click the Spam icon ")}} <span class="icon-spam"></span></li>
			<li>{{_("Yay, no more spam!")}}</li>
		</ul>
	</p>

	<p>
		{{_("We marked something as Spam that wasn't?")}}
		<br>
		{{_("Move message(s) from Spam to your Inbox:")}}	
  		<ul class="list" style="margin-left: 2em; list-style: disc">
				<li>{{_("Go to Spam.")}}</li>
    		<li>{{_("Click the checkbox to select the message(s) you want to move.")}}
			    	{{_("Use \"Ctrl\" to select multiple messages.")}}</li>
				<li>{{_("Click the Untag Selection icon ")}} <span class="icon-circle-x"></span></li>
  		</ul>
	</p>
  
	<p>
		{{_("Sorry about that; our spam filter isn't perfect!")}}
	</p>

</div>
{% endblock %}
