{% extends "layouts/" + render_mode + "-tall.html" %}
{% block title %}{{_("Managing Spam")}}{% endblock %}
{% block content %}
<div class="content-normal" style="max-width: 46em;">

  <h1><span class="icon-spam"></span>
    {{_("Please install spambayes")}}!
  </h1>
  <p>
    {{_("Mailpile uses statistical analysis to recognize spam and keep it out of your Inbox.")}}
    {{_("The statistical analysis depends on a Python moduled named <b>spambayes</b>.")|safe}}
  </p>
  <p>
    {{_("It appears spambayes is not installed on your system!")}}
    {{_("Without it, Mailpile's spam filter will not work.")}}
    {{_("Please install spambayes")}}.
  </p>
  <p>
    <b>{{_("Installing spambayes")}}</b><br>
  </p>
  <p>
    {{_("Depending on how you install software on your machine, one of the following command-line incantations might work:")}}
    <br>
    <ul class="list" style="margin-left: 2em; list-style: disc">
      <li><tt>sudo apt-get install spambayes</tt> &nbsp; # Ubuntu, Debian</li>
      <li><tt>sudo yum install spambayes</tt> &nbsp; # Redhat, Fedora, SuSE</li>
      <li><tt>sudo pip install spambayes</tt> &nbsp; # {{_("Most other systems")}}</li>
    </ul>
  </p>
  <p>
    <b>{{_("Update Mailpile")}}</b><br>
  </p>
  <p>
    {{_("After installing spambayes, you will need to update your Mailpile configuration to use it:")}}
    <br>
    <ul class="list" style="margin-left: 2em; list-style: disc">
      <li>{{_("Close this window.")}}</li>
      <li>{{_("Open the Mailpile command line interface by pressing `t`.")}}</li>
      <li>{{_("At the `mailpile>` prompt, type:")}} <tt><b>plugins/load autotag_sb</b></tt></li>
      <li>{{_("Press ENTER and then close the command line interface.")}}</li>
    </ul>
  </p>
  <p>
    {{_("Further reading:")}}
    <a class="auto-modal" href="{{ U("/page/hints/spam.html") }}">{{_("Learn more about Mailpile's spam filter.")}}</a>
  </p>

</div>
{% endblock %}
