<div id="setup-box-crypto-generated" class="setup-box setup-box-small animated bounceInRight text-center">
  <h1 class="text-center"><span class="icon-key"></span></h1>
  <h3 class="text-center">{{_("Encryption Key Generated")}}</h3>
  <p>{{_("This is your key's unique fingerprint. Fingerprints are used to verify encryption keys. You can learn more about this later.")}}</p>
  <h1><span class="icon-fingerprint"></span></h1> <%= fingerprint %>
  <p><a href="#" class="link-details">{{_("View Encryption Key Details")}}</a></p>
  <div class="text-center">
    <a href="#source-settings" id="btn-setup-crypto-next" class="button-primary">{{_("Next")}}</a><br>
  </div>
</div>