/* Compose */

  .compose-headers {
    min-height: 30px;
		padding: .75em;    
  }

  #compose label {
    float: left;
    font-style: normal;
    font-weight: bold;
    margin-right: 10px;
  }

  .compose-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  .compose-headers {
	  border-bottom: 1px solid @grayMid;  
    clear:both;
  }
  
  .compose-headers input[type=text],
  .compose-headers input[type=email] {
    float: left;
		min-width: 300px;
		display: inline-block;
		font-size: 14px;
		padding: .5em;
		margin-bottom: 0px;
	}


	a.compose-show-field {
	  float: right;
	  font-family: @text-font-family;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: @grayDark;
    margin-left: 10px;
	}
	
	#compose-cc-html, #compose-bcc-html {
  	display: none;
	}


  /* Subject */
  .compose-subject {
    width: 100%;
    display: table;
    vertical-align: middle;
  }

  .compose-subject input[type=text] {
    border: 0px;
    background: transparent;
    margin: 0px;
    padding: 8px 4px;
    font-family: @text-font-family;
    font-size: 18px;
  }

  .compose-subject input[type=text]:focus {
    outline: none;
  }

  .compose-subject .message-privacy-state {
    font-size: 24px;
    line-height: 24px;
  }

  .message-privacy-state.icon-unencrypted {
    color: @gray;
  }

  .message-privacy-state.icon-encrypted {
    color: @green;
  }


  /* Message */
  .compose-message textarea {
    width: 700px;
    min-height: 300px;
    padding: 1em;
    border: 0px solid @grayMid;
    border-radius: @base-border-radius;
    font-size: 14px;
    line-height: 21px;
  }

  .compose-message textarea:focus {
    outline: none;
  }
  
  .compose-attachments {
    padding: .5em 1.25em;
  }
