/* Compose */

  .compose-headers {
    height: 30px;
  }

  #compose label {
    float: left;
    font-style: normal;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .compose-headers {
    clear:both;
  }
  
  .compose-headers input[type=text],
  .compose-headers input[type=email] {
    float: left;
		width: 75%;
		display: inline-block;
		font-size: 18px;
		padding: 0px;
		margin-bottom: 0px;
	}

  .compose-headers input[type=text]:placeholder,
  .compose-headers input[type=email]:placeholder, {
	}

	.compose-headers input[type=text]:focus,
  .compose-headers input[type=email]:focus {
	}

  .compose-message textarea {
    width: 100%;
    min-height: 300px;
  }

  .compose-message textarea:focus {
  }

	.compose-section {
		padding: .75em;
		border-bottom: 1px solid @gray;
	}