/* Message */	

  .message-headers {
	  padding: 15px;  
    border-bottom: 1px solid @gray;
    font-size: 18px;
    line-height: 18px;
  }	
	
	.message-headers li {
  	margin-bottom: 10px;
	}
	
	.message-headers a {
  	font-size: 18px;
	}
	
	.message-datetime {
	  font-family: @text-font-family;
  	float: right;
	}
	
	.message-email-address {
	  display: inline-block;
	  vertical-align: middle;
	  color: @grayDark;
	  border-radius: 3px;
	  margin: 0 5px;
	  padding: 0px;
	  padding-right: 5px;
	  font-weight: normal;
	  background: @grayLight;
	  border: 1px solid @grayMid;
          max-height: 24px;
  }
	
	.message-email-address:hover {
    color: @red;
  }

	.message-email-address img {
     width: 24px;
     height: 24px;
     margin-right: 5px;
     display: inline-block;
  }

	.message-body {
	  padding: 15px;
  	font-size: 14px;
  	line-height: 18px;
	}
	
	.message-attachments {
  	
	}

  .message-actions form {
    float: left;
    margin-right: 15px;
  }
