/* Search */

	#search {
	  float: left;
	  width: 335px;
		padding-left: 20px;
		box-sizing: padding-box;
	}

	#search form {
		margin-bottom: 0px;
	}
	
	#search #qbox {
	  .white-form-fields;
		width: 75%;
		display: inline-block;
		padding: 5px 10px;
		margin-bottom: 0px;
		position: relative;
		top: 5px;
		left: 10px;
		font-size: 18px;
		line-height: 18px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border: 1px solid #b3b3b3;
	}
	
	#search #qbox:placeholder {
    .white-form-fields-placeholder;
	}
	
	#search #qbox:focus {
    .white-form-fields-focus;
	}
	
	#search button {
	  background: @blue;
	  color: @white;
		float: right;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		position: relative;
		top: 6px;
		left: 0px;
		display: inline-block;
		font-size: 18px;
	}


	#search-params {
	  position: absolute;
	  top: 50px;
	  left: 225px;
  	background: @white;
  	border: 1px solid @gray;
  	z-index: 1000;
	}
	
	#search-params li {
  	margin: 15px;
	}
	
	#search-params a {
		padding: 5px 10px;
		background: @grayLight;
		color: @grayDark;
		font-family: @text-font-family-bold;
		font-size: 14px;
		border-radius: @base-border-radius;
		border: 1px solid @gray;
	}
	
	#search-params a:hover {
		background-color: darken(@grayLight, 15%);
	}