/* Search */

	.search {
	  float: left;
	  width: 480px;
	  margin-top: 12px;
		border: 1px solid red;
	}

  .form-search {
    width: 390px;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid @gray;
  }

  .form-search input {
      width: 316px;
      height: 20px;
      padding: 10px 12px;
      float: left;    
      font: normal 18px @text-font-family-bold;
      border: 0;
      background: @white;
      border-radius: 5px 0 0 5px;
		  color: @grayMid;   
  }
   
  .form-search input:focus {
      outline: 0;
      background: #fff;
      box-shadow: 0 0 1px rgba(0,0,0,.8) inset;
  }
   
  .form-search input::-webkit-input-placeholder,
  .form-search input:-moz-placeholder,
  .form-search input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }    
   
  /* Form submit button */
  .form-search button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px;
    font: bold 15px/40px @text-font-family-bold;
    color: @white;
    background: @blue;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }   
     
  .form-search button:hover{     
      background: darken(@blue, 15%);
  }   
     
  .form-search button:active,
  .form-search button:focus{   
      background: darken(@blue, 25%);
      outline: 0;   
  }

  .form-search button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
      border: 0;
      padding: 0;
  }


	#button-search-options {
  	background: red; 
	  display: inline-block;
	  height: 32px;
  	position: relative;
  	left: -25px;
  	top: -10px;
	}	

  #button-search-options:hover .icon-arrow-down {
    color: @gray; 
  }

	#button-search-options .icon-arrow-down {
  	position: relative;
  	left: 0px;
  	top: 10px;
  	font-size: 12px;
  	color: @grayMid;
	}


	#search-params {
	  position: absolute;
	  top: 50px;
	  left: 225px;
  	background: @white;
  	border: 1px solid @gray;
  	z-index: 1000;
	}
	
	#search-params li {
  	margin: 15px;
	}
	
	#search-params a {
		padding: 5px 10px;
		background: @grayLight;
		color: @grayDark;
		font-family: @text-font-family-bold;
		font-size: 14px;
		border-radius: @base-border-radius;
		border: 1px solid @gray;
	}
	
	#search-params a:hover {
		background-color: darken(@grayLight, 15%);
	}