/* Sidebar */

  #sidebar {
    width: 225px;
    background: @grayLight;
    position: fixed;
    top: 62px;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-right: 1px solid @gray;
    border-spacing: 0px;
    overflow-y: auto;
    z-index: 5;
  }

	#sidebar hr { margin: 20px 0px 0px 0px;	}

  #sidebar      ul { margin: 12px; }
  #sidebar.cozy ul { margin: 8px; }
  #sidebar.snug ul { margin: 8px; }

  #sidebar      li { margin: 5px 0px; padding: 7px 10px; }
  #sidebar.cozy li { margin: 3px 0px; padding: 5px 10px; }
  #sidebar.snug li { margin: 0px 0px; padding: 3px 10px; }

	#sidebar        a { display: block; width: 175px; font-family: @text-font-family-bold; font-weight: normal; color: @grayDark; font-size: 18px; line-height: 24px; }
	#sidebar.cozy   a { padding: 10px 0px; font-size: 16px; line-height: 16px; }
	#sidebar.snug   a { padding: 5px 0px; font-size: 14px; line-height: 14px; }
	
	#sidebar a:hover  { color: @red; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; }
  #sidebar .navigation-on a:hover { color: @grayDark; }

	#sidebar a:active { color: @red; }	
	
	#sidebar a.sidebar-tag { 
	  position: relative;
  }
	
	#sidebar span.sidebar-icon {
	  position: relative;
	  top: -2px;
	  left: 0px;
		margin-right: 4px;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;		
	}

	#sidebar.cozy span.sidebar-icon { font-size: 18px; line-height: 18px; }
  #sidebar.snug span.sidebar-icon { font-size: 16px; line-height: 16px; }

  #sidebar span.sidebar-tag {
    width: 130px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
	}

  #sidebar span.sidebar-notification {
    float: right;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    letter-spacing: -1px;
    color: @white;
    position: absolute;
    right: 0px;
  }

  #sidevar .navigation-on a:hover span.sidebar-notification { color: @white !important; }


/* Sidebar - Drag & Drop */

  .sidebar-tags-draggable {
    border-radius: @base-border-radius;
  }

  .sidebar-tags-draggable-hover {
    background: @grayLight;
	  -webkit-transition-duration: 0.4s;
	  -moz-transition-duration: 0.4s;
	  transition-duration: 0.4s;	    
  }

  .sidebar-tags-draggable-active {
    background: @grayMid;
	  -webkit-transition-duration: 0.5s;
	  -moz-transition-duration: 0.5s;
	  transition-duration: 0.5s;    
  }

  .sidebar-tags-draggable-highlight {
    background: green;
	  -webkit-transition-duration: 0.4s;
	  -moz-transition-duration: 0.4s;
	  transition-duration: 0.4s;
  }	  
