# =========================================================================
# COVERAGE CONFIGURATION FILE: .coveragerc
# =========================================================================
# LANGUAGE: Python
# SEE ALSO:
#  * http://nedbatchelder.com/code/coverage/
#  * http://nedbatchelder.com/code/coverage/config.html
# =========================================================================

[coverage:run]
append  = .coverage
include = mailpile*
omit = nose
branch  = True
#parallel = True

[coverage:report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if False:
    if __name__ == .__main__.:

ignore_errors = True

[coverage:html]
directory = build/coverage.html

[coverage:xml]
outfile = build/coverage.xml

