*.pyc
*~
*.mo
*.debhelper
*.iml
*.ipr
*.swp
*.swo
mp-virtualenv
.idea
.*deps
.tox
mailpile.egg-info/
mailpile-tmp.py
mailpile/www/default/plugins/
mailpile/tests/data/tmp
mailpile/tests/data/gpg-keyring/random_seed
scripts/less-compiler.mk
.DS_Store
.vagrant
.coverage
ghostdriver.log
build/
dist/
cover/
bower_components/
node_modules/
testing/
