*.pyc
build/
dist/
mailpile.egg-info/
mailpile-tmp.py
*~
mp-virtualenv
*.debhelper
.idea
*.iml
*.ipr
static/default/codekit-config.json
.*deps
scripts/less-compiler.mk
.DS_Store
static/default/plugins/
doc/
*.swp
.vagrant
.coverage
testing/tmp
