*.pyc
*.pyo
*~
*.po
*.debhelper
*.iml
*.ipr
*.swp
*.swo
mp-virtualenv
.idea
.*deps
.tox
mailpile.egg-info/
mailpile-tmp.py
static/default/plugins/
mailpile/tests/data/private-test-data.mbx
mailpile/tests/data/tmp
mailpile/tests/data/gpg-keyring/random_seed
scripts/less-compiler.mk
.DS_Store
.vagrant
.coverage
ghostdriver.log
build/
dist/
.eggs/
cover/
bower_components/
node_modules/
testing/
mailpile.tar.gz
AUTHORS
ChangeLog
shared-data/multipile/www/admin.cgi
setup-tmp/
