recursive-exclude static *
recursive-exclude locale *
recursive-exclude scripts *
recursive-exclude testing *
recursive-include mailpile/tests/data *
recursive-exclude mailpile/tests/data *~
recursive-include mailpile/locales *.mo *.po *.pot
recursive-include mailpile/www *
recursive-include mailpile/plugins *
include Makefile
include README.md
include AGPLv3.txt
include LICENSE-2.0.txt
include requirements.txt
include requirements-dev.txt
include scripts/compile-messages.sh
include scripts/make-messages.sh
include scripts/mailpile-test.py
include scripts/test-sendmail.sh
include scripts/setup-test.sh
