{% extends "layouts/" + render_mode + ".html" %}

{%- block contenttools %}
  {%- set activities = [{
    'name': 'notifications',
    'icon': 'notifications',
    'url': U('/logs/events/'),
    'text': _("Event Log"),
    'description': _("Mailpile Event Log")
  },{
    'name': 'netlog',
    'icon': 'force-graph',
    'url': U('/logs/network/'),
    'text': _("Network"),
    'description': _("Recent Network Activity")
  },{
    'name': 'tls',
    'icon': 'links',
    'url': U('/crypto/tls/getcert/'),
    'text': _("TLS Certs"),
    'description': _("TLS Certificate Tool")
  },{
    'name': 'keys',
    'icon': 'key',
    'aclass': 'auto-modal auto-modal-sticky',
    'url': U('/settings/set/password/keys.html'),
    'text': _("Keys"),
    'description': _("Encryption Key Management")
  }] %}
  {%- set selection_initial_prompt = _("System activity, logs, events, troubleshooting, ...") %}
  {%- include("partials/tools_default.html") %}
{%- endblock %}

{% block content %}
<div class="content-normal settings-page">
  {%- block logs_content %}{% endblock %}
</div>
{% endblock %}
