{% set high_tags=mpcommand("tag", "list", "Inbox", "Sent") %}
{% set user_tags=mpcommand("tag", "list", "!Inbox", "!Sent", "!Spam", "!Trash", "!Drafts", "!New") %}
{% set low_tags=mpcommand("tag", "list", "Spam", "Trash") %}
{% set top_tags=mpcommand("tag", "list", "New", "Starred") %}
{% set unread=mpcommand("tag", "list", "New") %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/static/css/default.css" />
	<link rel="stylesheet" href="/static/css/select2.css" />

	<!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
	<![endif]-->

	<!-- Apple Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/img/favicon.png" />
	<link rel="icon" type="image/png" href="/static/img/favicon.png" />

	<title>{{title}} | {{name}}'s mailpile</title>

</head>

<body>

<div id="header" class="clearfix">
	  <a href=""><img class="logo" src="/static/img/logo-color.svg"></a>
	  <h1>{{name}}'s<small><b>mail</b>pile of <b>{{mailpile_size}}</b> emails</small></h1>
	<nav>
		<ul>
			<li><a href="/contact"><span class="icon-user"></span>Contacts</a></li>
			<li><a href="/tag/list"><span class="icon-tag"></span>Tags</a></li>
			<li><a href="/settings/"><span class="icon-settings"></span>Settings</a></li>
			<li><a href="/static/donate/"><span class="icon-donate"></span>Donate</a></li>
		</ul>
	</nav>
</div>

<ul id="navigation">
{% for href, id, caption in navigation_bar %}
  <li><a href="{{ href|e }}">{{ caption|e }}</a> {% if id == active_page %} YOOOOO {% endif %}</li>
{% endfor %}
</ul>

<div id="container">

	<div id="sidebar">
		<nav>
			<ul>
				<li {% if command == "message/compose" %} class="navigation-on" {% endif %}><a id="button-compose" onclick="compose();return false;" href="/message/compose"><span class="icon-compose"></span> Compose <small>{{mpcommand("tag", "list", "Drafts").result.tags.0.all}} Drafts</small></a></li>
			</ul>
			{% for t in high_tags, user_tags, low_tags %}
			<ul>{% for tag in t.result.tags %}
				  <li><a href="{{tag.url}}" title="{{tag.all}} emails" class="tag_new_{{tag.new}}"><span class="icon-tag"></span> {{tag.name}}
        			<span class='navigation-attention-important'>{{tag.new}}</span>
			      </a>
  				</li>
  				{% endfor %}
			</ul>
			{% endfor %}
		</nav>
		<hr>			
		<nav>
			<ul>
				<li><a href="/search/has:pgp" class=""><span class="icon-encrypted"></span> Encrypted</a></li>
				<li><a href="/search/att:jpg" class=""><span class="icon-photos"></span> Photos</a></li>
				<li><a href="/search/has:attachment" class=""><span class="icon-files"></span> Files</a></li>
				<li><a href="/search/http" class=""><span class="icon-links"></span> Links</a></li>
				<li><a href="/group/list" class=""><span class="icon-groups"></span> Groups</a></li>
			</ul>
		</nav>
		<hr>
	</div>

	<!-- START CONTENT -->
	<div id="content">

		{% block content %}
			{{results}}
		{% endblock %}
		<div id="footer">
			<a href='http://mailpile.is'>Mailpile</a> is free software made by <a title="Bjarni R. Einarsson" href="http://bre.klaki.net" target="_blank">bre</a>, <a title="Brennan Novak" href="https://brennannovak.com" target="_blank">bnvk</a>, <a href="http://www.smarimccarthy.is/" target="_blank">smári</a> &amp; <a href="https://github.com/pagekite/Mailpile/graphs/contributors" target="_blank">more</a>
		</div>

		<div id="debug">
		  <h3>DEBUG</h3>
      <b>command:</b> {{ command }}<br>
      <b>command_parts:</b> {{ command_parts }}<br>
      <b>args:</b> {{ args }}<br>
      <b>kwargs:</b> {{ kwargs }}
		
		  {{logged}}
		</div>

		<div style="display: none; position: fixed; top: 20%; left: 40%; right: 40%; width: 20%; background: #eee; border: 1px solid #ccc;" id="dialog_tag">
			<form onsubmit="mailpile.go('/'+$('#dialog_tag_input').val() + '/'); return false;">
				<input type="text" id="dialog_tag_input"/>
				<input type="submit" value="Go">
			</form>
		</div>
	</div>
	<!-- END CONTENT -->

	<div class="clearfix"></div>

</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/mailpile-libraries-min.js"></script>
<script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/static/js/mailpile.js"></script>
</body>
</html>
