<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<!-- These are the fixed top-level tempalte variables: -------------------------

    csrf: {{ csrf }}
    http_host: {{ http_host }}
    http_hostname: {{ http_hostname }}
    http_method: {{ http_method }}
    message_count: {{ mailpile_size }}
    name: {{ name }}
    title: {{ title }}
    url_protocol: {{ url_protocol }}

---------------------------------------------------------------------------- -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/static/css/default.css" />
  {% for asset in get_assets("stylesheet") %}<link rel="stylesheet" href="{{asset}}"/>
  {% endfor %}
  <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
  <![endif]-->
  <!-- Apple Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />
  <link rel="icon" type="image/png" href="/static/img/favicon.png" />

  <title>{{title}} | {{name}}'s mailpile</title>

<script type="text/javascript" src="/static/js/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/libraries-min.js"></script>
<script type="text/javascript" src="/static/js/libraries/d3.v3.min.js"></script>
<script type="text/javascript" src="/static/js/libraries/bootstrap-dropdown.js"></script>

</head>
<body>

<div id="messages">
  <div class="error clearfix">
    <span class="message-text"></span>
    <abbr title="{{_("Close")}}" class="message-close">X</abbr>
  </div>
  <div class="warning clearfix">
    <span class="message-text"></span>
    <abbr title="Close" class="message-close">X</abbr>
  </div>
  <div class="debug clearfix">
    <span class="message-text"></span>
    <abbr title="Close" class="message-close">X</abbr>
  </div>
  <div class="info clearfix">
    <span class="message-text"></span>
  <abbr title="Close" class="message-close">X</abbr>
  </div>
  <div class="success clearfix">
    <span class="message-text"></span>
    <abbr title="Close" class="message-close">X</abbr>
  </div>
</div>

<div id="header" class="topbar">
  <div class="topbar-logo">
    <object class="logo" data="/static/img/logo.svg">
		  <img class="logo" src="/static/img/logo.png">
		</object>
    <span class="hide">{{_("%(name)s<small> mailpile of <b>%(size)s</b> emails</small>", name=name, size=mailpile_size)}}</span>
  </div>
  <div class="topbar-actions">
    <form id="form-search" class="form-search clearfix" action="/search/">
		  <input id="search-query" type="text" name="q" placeholder="search" autocomplete="off" tabindex=1 value="{% for t in result.search_terms %}{{ t|e }} {% endfor %}">
		  <button type="submit" class="submit"><span class="icon-search"></span></button>
	  </form>
    <nav class="topbar-nav">
      <ul>
        <li {% if command == "message/draft" %}class="navigation-on"{% endif %}><a href="#" id="button-compose" title="{{_("Compose")}}"><span class="link-icon icon-compose"></span></a></li>
        <li {% if command == "contact/list" %}class="navigation-on"{% endif %}><a href="/contact/list/" title="{{_("Contacts")}}"><span class="link-icon icon-user"></span></a></li>
        <li {% if command == "tag/list" %}class="navigation-on"{% endif %}><a href="/tag/list/" title="{{_("Tags")}}"><span class="link-icon icon-tag"></span></a></li>
        <li {% if command == "page" %}class="navigation-on"{% endif %}><a class="donate" href="/page/donate/" title="{{_("Donate")}}"><span class="link-icon icon-donate"></span></a></li>
        <li {% if command == "settings" %}class="navigation-on"{% endif %}><a href="/settings/profiles/" title="{{_("Settings")}}"><span class="link-icon icon-settings"></span></a></li>
      </ul>
    </nav>
  </div>
</div>
<div id="container">
  <div id="sidebar">
    <nav>
      <ul>
        {% for tag in mailpile("tag/list", "display=priority").result.tags %}
        {% if tag.slug == "drafts" %}
        <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-default {{ navigation_on(result.search_tag_ids, tag.tid) }}" data-tag_name="{{tag.name}}" data-tag_slug="{{tag.slug}}" data-tag_stat_new="{{tag.stats.new}}" data-tag_stat_all="{{tag.stats.all}}">
        {% else %}
        <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-draggable {{ navigation_on(result.search_tag_ids, tag.tid) }}" data-tag_name="{{tag.name}}" data-tag_slug="{{tag.slug}}" data-tag_stat_new="{{tag.stats.new}}" data-tag_stat_all="{{tag.stats.all}}">
        {% endif %}
            <a href="{{tag.url}}" title="{{tag.all}} {{_("emails")}}" class="sidebar-tag">
              <span class="sidebar-icon icon-{{tag.slug}}"></span>
              <span class="sidebar-tag">{{tag.name}}</span>
              {% if tag.stats.new > 0 %}
              <span class="sidebar-notification notification-important">{{ friendly_number(tag.stats.new) }}</span>
              {% endif %}
            </a>
        </li>
        {% endfor %}
      </ul>
      <hr>
      <ul>
        {% for tag in mailpile("tag/list", "display=tag").result.tags %}
        <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-draggable {{ navigation_on(result.search_tag_ids, tag.tid) }}" data-tag_name="{{tag.name}}" data-tag_slug="{{tag.slug}}" data-tag_stat_new="{{tag.stats.new}}" data-tag_stat_all="{{tag.stats.all}}">
         <a href="{{tag.url}}" title="{{tag.all}} emails" class="sidebar-tag">
            <span class="sidebar-icon icon-tag"></span>
            <span class="sidebar-tag">{{tag.name}}</span>
            {% if tag.stats.new > 0 %}
            <span class="sidebar-notification notification-important">{{ friendly_number(tag.stats.new) }}</span>
            {% endif %}
          </a>        
        </li>
        {% endfor %}
      </ul>
      <hr>
      <ul>
        <li>
          <a href="/search/att:jpg/" class="">
            <span class="sidebar-icon icon-photos"></span>
            <span class="sidebar-tag">{{_("Photos")}}</span>
          </a>
        </li>
        <li>
          <a href="/search/has:attachment/" class="">
            <span class="sidebar-icon icon-files"></span>
            <span class="sidebar-tag">{{_("Files")}}</span>
          </a>
        </li>
        <li>
          <a href="/search/http/" class="">
            <span class="sidebar-icon icon-links"></span>
            <span class="sidebar-tag">{{_("Links")}}</span>
          </a>
        </li>
        <li>
          <a href="/group/list/" class="">
            <span class="sidebar-icon icon-groups"></span>
            <span class="sidebar-tag">{{_("Groups")}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="content" class="clearfix">  
    {% block content %}
      {{results}}
    {% endblock %}
    <div id="footer">
      <a href='http://mailpile.is'>{{_("Mailpile")}}</a> {{_("is free software made by")}} <a title="Bjarni R. Einarsson" href="http://bre.klaki.net" target="_blank">bre</a>, <a title="Brennan Novak" href="https://brennannovak.com" target="_blank">bnvk</a>, <a href="http://www.smarimccarthy.is/" target="_blank">smári</a> &amp; <a href="https://github.com/pagekite/Mailpile/graphs/contributors" target="_blank">{{_("more")}}</a>
    </div>
    <div id="debug" class="hide">
      <h3>DEBUG</h3>
      <b>command:</b> {{ command }}<br>
      <b>args:</b> {{ args }}<br>
      <b>kwargs:</b> {{ kwargs }}
      {{logged}}
    </div>
  </div>

</div>

<div id="search-params" class="clearfix">
  <ul>
    <li>{{_("Date:")}} <a href="#" class="" id="search-start-time">{{_("Start time")}}</a> {{_("to")}} <a href="#" class="" id="search-end-time">{{_("Present")}}</a></li>
    <li>{{_("With:")}} <a href="#" id="search-tags">{{_("No Tags")}}</a></li>
    <li>{{_("And:")}} <a href="#" id="search-all-groups">{{_("All groups")}}</a></li>
  </ul>
</div>  

<script type="text/javascript" src="/static/js/mailpile.js"></script>
<script type="text/javascript" src="/static/js/app/notifications.js"></script>
<script type="text/javascript" src="/static/js/app/tooltips.js"></script>
<script type="text/javascript" src="/static/js/app/gpg.js"></script>
<script type="text/javascript" src="/static/js/app/compose.js"></script>
<script type="text/javascript" src="/static/js/app/pile.js"></script>
<script type="text/javascript" src="/static/js/app/search.js"></script>
<script type="text/javascript" src="/static/js/app/thread.js"></script>
<script type="text/javascript" src="/static/js/app/contacts.js"></script>
<script type="text/javascript" src="/static/js/app/tags.js"></script>
<script type="text/javascript" src="/static/js/app/settings.js"></script>
{% for asset in get_assets("javascript") %}<link rel="stylesheet" href="{{asset}}"/>
{% endfor %}
<script type="text/javascript">
mailpile.instance = {
 "command": "{{ command }}",
 "args": "{{ args }}",
 "search_terms": "{% for term in result.search_terms %}{{term}}{% if not loop.last %} {% endif %}{%endfor%}"
}
</script>
<script type="text/javascript" src="/static/js/plugins-min.js"></script>

</body>
</html>
