<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{% if result %}{% block title %}{{title}}{% endblock %}{% else %}Error{% endif %} | {{name}}'s mailpile</title>
  {% block head %}{% endblock %}
  {% include("partials/head.html") %}
</head>
<body>
{% if result.language and result.crypto and result.profiles and result.routes and result.sources %}
{% include("partials/topbar.html") %}
{% else %}
{% include("partials/topbar_setup.html") %}
{% endif %}
<div id="setup-container">
  {% block content %}{{results}}{% endblock %}
  {% include("setup/modals.html") %}
  <div class="clearfix"></div>
</div>

<script>
$(document).ready(function() {

  // Print JSON for JS Use
  Mailpile.instance = {};

  SetupApp.init();
});
</script>
</body>
</html>