{% extends "layouts/auth.html" %}
{% block title %}{{_("Passphrase")}} | {{_('Setup')}}{% endblock %}
{% block content %}
{% set setup_crypto = mailpile("setup/crypto") %}
<div id="setup-passphrase" class="setup-box setup-box-medium animated add-bottom bounceInUp">
  <div id="identity-vault-lock" class="vault-lock-outer">
    <div class="vault-lock-inner">
      <div class="vault-lock icon-lock-closed animated"></div>
    </div>
  </div>

  {# Authenticated Confirmation Views #}
  <div id="setup-passphrase-creating" class="{% if not result.create_key %}hide{% endif %} text-center add-top">
    <h3 class="text-center"><span class="icon-key"></span> Processing Encryption Key</h3>
    <p class="text-center">Key creation is in progress... this may take a while.</p>
    <p class="text-center">You can move your mouse around or proceed setting things up ;)</p>
    <p><a href="/setup/" class="button-primary">{{_("Next")}}</a></p>
  </div>

  <div id="setup-passphrase-authenticated" class="hide text-center add-top">
    <h3>You Successfully Authenticated</h3>
    <p>The <strong>fingerprint</strong> for the <strong>encryption key</strong> you chose was:</p>
    <h1><span class="icon-fingerprint"></span></h1>
    <h3 id="setup-crypto-chosen_key">{{ nice_fingerprint(setup_crypto.result.chosen_key) }}</h3>
    <p><a href="/setup/" class="button-primary">{{_("Next")}}</a></p>
  </div>

  {# Input Form For Authenticating #}
  <form method="POST" action="/setup/crypto/" id="form-setup-passphrase" class="standard text-center add-top">

    {% if not result.creating_key and setup_crypto.result.secret_keys|length == 0 %}
      <h3 class="text-center">Create Your Passphrase</h3>
      <p class="text-center">
        Your passphrase should be something really hard to guess but memorable<br>
        This passphrase will be used to unlock your Mailpile and for your encryption keys
      </p>
      <span id="validation-passphrase">
        <span class="validation-message"></span>
        <input id="input-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">
      </span>
      <span id="validation-passphrase_confirm">
        <label class="validation-message">Confirm Your Passphrase</label>
        <input id="input-setup-passphrase_confirm" class="input-medium center" type="password" name="passphrase_confirm" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">
      </span>
      <input name="choose_key" value="!CREATE" type="hidden">

    {% elif setup_crypto.result.secret_keys|length >= 1 %}

      <label>Select the encryption key you would like to use</label>
      <ul class="radio-list-items">
      {% for key in setup_crypto.result.secret_keys %}
        {% set key_info = setup_crypto.result.secret_keys[key] %}
        {% if key_info.capabilities_map.0.encrypt and key_info.capabilities_map.0.sign and not key_info.disabled %}
        <li class="text-left">
        <label class="radio-list-item">
          <div class="radio text-right">
            <input name="choose_key" value="{{ key }}" type="radio" {% if key == setup_crypto.result.chosen_key %}checked{% endif %}>
          </div>
          <div class="icon text-center">
            <span class="icon-key"></span>
          </div>
          <div>
            <strong>{{ nice_fingerprint(key) }}</strong><br>
            <span>
              {{ key_info.keytype_name }} Key / {{ key_info.keysize }} bits &nbsp;
              Created {{ key_info.creation_date }} &nbsp;&nbsp; {% if key_info.expiration_date %}Expires {{ key_info.expiration_date }}{% endif %}
            </span>
          </div>
        </label>
        </li>
        {% endif %}
      {% endfor %}
      </ul>

      <span id="validation-passphrase">
        <label class="validation-message text-center {% if error and error.invalid_passphrase %}validation-error{% endif %}">
          {% if error and error.invalid_passphrase %}
          Passphrase you entered is incorrect
          {% else %}
          Enter the passphrase for the <strong>encryption key</strong> you selected:
          {% endif %}
        </label>
        <input id="input-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" placeholder="top secret super duper passphrase">
      </span>
      <div id="setup-passphrase-existing-confirm">
        <span id="validation-passphrase_confirm">
          <label class="validation-message"></label>
          <input id="input-setup-passphrase_confirm" class="input-medium center" type="password" name="passphrase_confirm" autocorrect="off" autocapitalize="off" placeholder="top secret super duper passphrase">
        </span>
      </div>
      <input type="hidden" id="setup-passphrase-keys-exists" value="exists">
    {% endif %}

    <button id="btn-setup-passphrase" type="submit">{{_("Authenticate")}}</button>
  </form>
</div>

<script>
$(document).ready(function() {
  Mailpile.instance = {};
  PassphraseView = new PassphraseView({ model: new PassphraseModel(), el: $('#setup-passphrase') });
});
</script>
{% endblock %}
