{% extends "layouts/setup.html" %}
{% block title %}{{_("Setup")}}{% endblock %}
{% block content %}

<div id="setup" class="clearfix add-bottom"></div>

{% include("setup/various.html") %}

<script id="template-setup-profiles-item" type="text/template">
  <li class="setup-item" id="setup-profile-<%= id %>">
    <div class="clearfix">
      <span class="avatar"><img src="/static/img/avatar-default.png"></span>
      <span class="name"><%= name %></span>
      <span class="email"><%= email %></span>
      <% if (pgp_keys) { %>
      <span class="icon-lock-closed"></span>
      <% } %>
      <ul class="horizontal right">
        <li><a href="#profiles/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
        <li><a href="#" data-id="<%= id %>" class="setup-profile-remove"><span class="icon-circle-x"></span> Remove</a></li>
      </ul>
    </div>
  </li>
</script>

{% set setup_profiles = mailpile("setup/profiles") %}
<input id="setup-profiles-count" type="hidden" value="{{ setup_profiles.result.profiles|length + setup_profiles.result.new_emails|length }}">
<script id="template-setup-profiles" type="text/template">
{% include("setup/profiles_list.html") %}
</script>

<script id="template-setup-profiles-add" type="text/template">
{% include("setup/profiles_settings.html") %}
</script>

<script id="template-setup-sources-item" type="text/template">
  <li class="setup-item" id="setup-source-<%= id %>">
    <div class="clearfix">
      <span class="name"><%= name %></span>
      <span class="username"><%= username %></span>
      <ul id="setup-source-<%= id %>-actions" class="horizontal right">
        <% if (_.isEmpty(mailbox)) { %>
        <li class="source-state-analyzing"><em>Analyzing...</em></li>
        <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
        <% } else { %>
        <li><a href="#sources/configure/<%= id %>"><span class="icon-tag"></span> Configure</a></li>
        <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
        <% } %>
        <li><a href="#" data-id="<%= id %>" class="setup-source-remove"><span class="icon-minus"></span> Disable</a></li>
      </ul>
    </div>
    <div id="setup-source-<%= id %>-message"></div>
  </li>
</script>

<script id="template-setup-sources" type="text/template">
{% include("setup/sources_list.html") %}
</script>

<script id="template-setup-sources-configure" type="text/template">
{% include("setup/sources_configure.html") %}
</script>

<script id="template-setup-sources-settings" type="text/template">
{% include("setup/sources_settings.html") %}
</script>

<script id="template-setup-sending-item" type="text/template">
 <li class="setup-item">
    <span class="name"><%= name %></span>
    <ul class="horizontal right">
      <li><a href="#sending/<%= id %>"><span class="icon-settings"></span> {{_("Edit")}}</a></li>
      <li><a href="#"><span class="icon-circle-x"></span> {{_("Delete")}}</a></li>
    </ul>
  </li>
</script>

<script id="template-setup-sending" type="text/template">
{% include("setup/sending.html") %}
</script>

<script id="template-setup-sending-settings" type="text/template">
{% include("setup/sending_settings.html") %}
</script>

<script id="template-setup-crypto-generated" type="text/template">
{% include("setup/key_generated.html") %}
</script>

<script id="template-setup-advanced" type="text/template">
{% include("setup/advanced.html") %}
</script>

<script id="template-setup-security" type="text/template">
{% include("setup/security.html") %}
</script>

<script id="template-setup-backups" type="text/template">
{% include("setup/backups.html") %}
</script>

<script id="template-setup-access" type="text/template">
{% include("setup/access.html") %}
</script>

{% endblock %}