<li class="setup-item" id="setup-profile-<%= id %>">
  <div class="clearfix">
    <span class="avatar">
      <% if (photo) { %>
      <img src="<%= photo %>">
      <% } else { %>
      <img src="/static/img/avatar-default.png">
      <% } %>
    </span>
    <span class="name"><%= name %></span>
    <span class="email"><%= email %></span>
    <ul class="horizontal right">
      <li><a href="#profiles/<%= id %>"><span class="icon-settings"></span> {{_("Edit")}}</a></li>
      <li><a href="#" data-id="<%= id %>" class="setup-profile-remove"><span class="icon-circle-x"></span> {{_("Remove")}}</a></li>
    </ul>
  </div>
</li>
<% if (!route_id) { %>
<li class="setup-item-notification">
  <div class="clearfix">
    <em>This Profile needs a sending route</em>
    <a href="#profiles/<%= id %>" class="right"><span class="icon-signature-unknown"></span> Configure Now</a>
  </div>
</li>
<% } %>