<div class="setup-box setup-box-medium animated bounceInUp">
  <h2 class="text-center"><span class="icon-profiles"></span> Profiles</h2>
  {% set setup_profiles = mailpile("setup/profiles") %}
  {% if setup_profiles.result.profiles %}
  <p class="text-detail text-center">You currently have <strong>{{ setup_profiles.result.profiles|length }} profiles</strong> that you can send messages from</p>
  <ul id="setup-profile-list">
    {% for profile_id, profile in setup_profiles.result.profiles.iteritems() %}
    <li class="setup-profile" id="setup-profile-{{ profile_id }}">
      <div class="clearfix">
        <span class="avatar"><img src="/static/img/avatar-default.png"></span>
        <span class="name">{{ profile.name }}</span>
        <span class="email">{{ profile.email }}</span>
        {% if profile.pgp_keys %}
        <span class="icon-lock-closed"></span>
        {% endif %}
        {% if email != setup_profiles.result.default_email %}
        <a href="#dogs" data-profile_id="{{ profile_id }}" class="setup-profile-remove right"><span class="icon-circle-x"></span> Remove</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="text-center">
    <button id="btn-setup-show-add-profile" class="center"><span class="icon-plus"></span> Add Profile</button>
  </div>
  {% else %}{# Has no profiles #}
  <p class="text-center">A profile is the context of how you use an email address. You can have as many profiles as you'd like, some examples profiles: Personal, Work, Newsletters, etc...</p>
  {% endif %}
</div>