<div class="setup-box setup-box-small animated bounceInRight">
  <form id="form-setup-profile-add" class="standard {% if setup_profiles.result.profiles %}hide{% endif %}">
    <h3>Add Profile</h3>
    <table class="full-width-table">
    <tr>
      <td>
        <label>{{_("Name")}} <span id="error-setup-name" class="validation-error validation-message"></span></label>
        <input type="text" name="name" autocorrect="off" autocapitalize="off" placeholder="Chelsea Manning">
      </td>
      <td>
        <label>{{_("Note")}} <span id="error-setup-note" class="validation-error validation-message"></span></label>
        <input type="text" name="note" autocorrect="off" autocapitalize="off" placeholder="Personal, Work">
      </td>
    </tr>
    <tr>
      <td>
        <label>{{_("Email")}} <span id="error-setup-email" class="validation-error validation-message"></span></label>
        <input type="email" name="email" autocorrect="off" autocapitalize="off" placeholder="chelsea@manning.org">
      </td>
      <td>
        <label>{{_("Password")}} <span id="error-setup-password" class="validation-error validation-message"></span></label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="btn-setup-add-profile" type="submit" class="text-center button-primary">
          <span class="icon-plus"></span> {{_("Save Profile")}}
        </button> &nbsp;&nbsp;
        <button id="btn-setup-cancel-add-profile" class="button-secondary {% if not setup_profiles.result.profiles %}hide{% endif %}">
          Cancel
        </button>
      </td>
    </tr>
    </table>
  </form>
</div>