<!-- Advanced - Security -->
<div class="setup-box setup-box-medium add-top animated bounceInTop">
  <h2 class="text-center"><span class="icon-key"></span> Security Settings</h2>
  <form id="form-setup-security" class="standard">
    <label class="clearfix">What are your personal security & privacy preferences?</label>
    <p>
      <select id="input-setup-security-level">
        <option value="">Select...</option>
        <option value="tinfoil" <% if (security_level == 'tinfoil' ) { %>selected<% } %>>You Collect Tinfoil Hats</option>
        <option value="paranoid" <% if (security_level == 'paranoid' ) { %>selected<% } %>>Relatively Paranoid</option>
        <option value="above" <% if (security_level == 'above' ) { %>selected<% } %>>Above Average Paranoia</option>
        <option value="concerned" <% if (security_level == 'concerned' ) { %>selected<% } %>>Privacy Concerned</option>
        <option value="normal" <% if (security_level == 'normal' ) { %>selected<% } %>>Normal Person</option>
        <option value="crazy" <% if (security_level == 'crazy' ) { %>selected<% } %>>Totally Unconcerned</option>
      </select>
    </p>
    <fieldset>
      <label>
        <input type="checkbox" name="encrypt_events"  <% if (encrypt_events) { %>checked<% } %>>
        Encrypt system events & notifications
      </label>
      <label>
        <input type="checkbox" name="encrypt_index" <% if (encrypt_index) { %>checked<% } %>>
        Encrypt your search index of terms
      </label>
      <label>
        <input type="checkbox" name="encrypt_mail" <% if (encrypt_mail) { %>checked<% } %>>
        Encrypt messages after downloaded to your machine
      </label>
      <label>
        <input type="checkbox" name="encrypt_vcards" <% if (encrypt_vcards) { %>checked<% } %>>
        Encrypted your address book & contacts
      </label>
      <label>
        <input type="checkbox" name="index_encrypted" <% if (index_encrypted) { %>checked<% } %>>
        Index encrypted messages that were encrypted
      </label>
      <label>
        <input type="checkbox" name="encrypt_misc" <% if (encrypt_misc) { %>checked<% } %>>
        Encrypt various other things
      </label>
<!-- FIXME: Commented out settings not supported by backend 
      <label>
        <input type="checkbox" name="use_tor" checked="">
        Send web requests through Tor for better anonymity and privacy
      </label>
      <label>
        <input type="checkbox" name="upload_keyservers">
        Upload your public encryption key to keyservers for better discovery
      </label>
      <label>
        <input type="checkbox" name="email_key">
        Attach public key to outgoing emails
      </label>
      <label>
        <input type="checkbox" name="use_gravatar">
        Download contact pictures via Gravatar (over HTTPS)
      </label>
-->
    </fieldset>
    <div class="clearfix half-top">
      <a href="/setup/#" class="button-secondary">{{_("Back")}}</a> &nbsp;&nbsp;
      <button id="btn-setup-security-save">
        <span class="icon-plus"></span> {{_("Save")}}
      </button>
    </div>
  </form>
</div>
