<div id="setup-box-source-configure" class="setup-box setup-box-large animated bounceInUp add-bottom">
  <div class="clearfix text-center">
    <h2><span class="icon-tag"></span> Configure <%= name %></h2>
  </div>
  <form id="form-setup-source-configure" class="standard text-center">
    <table class="full-width-table rounded background-white">
    <tr>
      <th>Mailbox</th>
      <th>Mailpile (Tag)</th>
      <th class="text-center"><span class="icon-inbox"></span></th>
      <th class="text-center"><span class="icon-compose"></span></th>
      <th class="text-center"><span class="icon-spam"></span></th>
      <th class="text-center"><span class="icon-trash"></span></th>
      <th class="text-center"><input type="checkbox" id="source-mailbox-read-all"> Download</th>
    </tr>
    <% _.each(mailbox, function(mailbox, key) { %>
    <tr id="sources-mailbox-">
      <td><%= mailbox.name %></td>
      <td>
          <input type="text" name="mailbox.<%= key %>.primary_tag" value="<%= mailbox.primary_tag %>">
        </select>
      </td>
      <td>
        <input type="checkbox" name="mailbox.<%= key %>.add_inbox">
      </td>
      <td>
        <input type="checkbox" name="mailbox.<%= key %>.add_drafts">
      </td>
      <td>
        <input type="checkbox" name="mailbox.<%= key %>.add_spam">
      </td>
      <td>
        <input type="checkbox" name="mailbox.<%= key %>.add_trash">
      </td>
      <td class="text-right">
        <input type="checkbox" class="source-mailbox-policy" name="mailbox.<%= key %>.policy" value="<%= mailbox.policy %>" <% if (mailbox.policy == 'read') { %>checked<% } %>>
      </td>
    </tr>
    <% }); %>
    </table>
    <div class="clearfix">
      <a href="#sources" class="button-secondary left">Previous</a>
      <button id="btn-setup-source-configure" class="right">{{_("Save")}}</button>
    </div>
    <input type="hidden" name="_section" value="sources.<%= id %>">
  </form>
</div>