<li class="setup-item" id="setup-source-<%= id %>">
  <div class="clearfix">
    <span class="name"><%= name %></span>
    <span class="username"><%= username %></span>
    <ul id="setup-source-<%= id %>-actions" class="horizontal right">
      <% if (_.isEmpty(mailbox)) { %>
      <li class="source-state-analyzing"><em>Analyzing...</em></li>
      <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
      <% } else { %>
      <li><a href="#sources/configure/<%= id %>"><span class="icon-tag"></span> Configure</a></li>
      <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
      <% } %>
      <li><a href="#" data-id="<%= id %>" class="setup-source-remove"><span class="icon-minus"></span> Disable</a></li>
    </ul>
  </div>
  <div id="setup-source-<%= id %>-message"></div>
</li>