<li class="setup-item" id="setup-source-<%= id %>">
  <div class="clearfix">
    <div class="left">
      <span class="name"><%= name %></span>
      <span class="text-detail">
      <% if (username) { %>
        <%= username %>
      <% } else { %>
        <%= protocol %> source
      <% } %>
      </span>
    </div>
    <a href="#" data-id="<%= id %>" class="setup-source-remove right"><span class="icon-minus"></span> Disable</a>
  </div>
  <div class="half-top">
  <div id="setup-source-<%= id %>-message">&nbsp;</div>
    <ul id="setup-source-<%= id %>-actions" class="horizontal right">
      <% if (_.isEmpty(mailbox)) { %>
      <li class="source-state-analyzing"><em>Analyzing...</em></li>
      <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
      <% } else { %>
      <li><a href="#sources/configure/<%= id %>"><span class="icon-tag"></span> Configure</a></li>
      <li><a href="#sources/<%= id %>"><span class="icon-settings"></span> Edit</a></li>
      <% } %>
    </ul>
  </div>
</li>