{% extends "layouts/" + render_mode + "-tall.html" %}
{% block title %}{{_("Reporting bugs")}}{% endblock %}
{% block content %}
<div class="content-normal" style="max-width: 46em;">

  <h1><span class="icon-code"></span> {{_("Reporting Bugs")}}</h1>
  <div style="font-size: 0.9em; width: 40%; text-align: right; float: right; margin-left: 1em; line-height: 1.1em;">
    <b>{{_("Note:")}}</b>
    {{_("These instructions are in English only, because we are currently unable to accept bug reports in other languages. Sorry!")}}
  </div>
  <p>
    {{_("Thank you for testing Mailpile!")}}<br>
    Have you found a bug?<br>
    Please follow the following instructions to report it.
  </p>
  <ul style="list-style: disc; padding: 0.5em 2em;">
    <li>
      Ensure the bug was not already reported by searching on GitHub
      under <a href="https://github.com/mailpile/Mailpile/issues"
               target=_blank>Issues</a>.
    </li>
    <li>
      If you're unable to find an open issue addressing the problem,
      <a href="https://github.com/mailpile/Mailpile/issues/new"
         target=_blank>open a new one</a>.
      Be sure to include a title and clear description, and as much
      relevant information as possible.
    </li>
    <li>
      Remember, we cannot read your mind or see your screen, so you'll
      probably need to answer all of these:
      <ol style="list-style: disc; padding: 0.5em 2em 0 2em;">
        <li>What were you doing?
        <li>What did you expect would happen?
        <li>What actually happened?
        <li>Operating system? GnuPG version? Mailpile version?
      </ol>
    </li>
    <li>
      Reproducability is key. If you cannot reliably trigger the bug or
      cannot describe how to do so, then unfortunately it's less likely that
      the Mailpile team will be able to do anything about it. It may still
      be useful to file a report in case others are having the same issue, but
      bugs that can be reproduced will in general get fixed much faster!
    </li>
  </ul>
  <p>
    Please consult our
    <a href="https://github.com/mailpile/Mailpile/blob/master/CONTRIBUTING.md"
       target=_blank>Contributor Guidelines</a> for further details.<br>
    The <a href="https://github.com/mailpile/Mailpile/blob/master/DEV_FAQ.md"
           target=_blank>Developer FAQ</a> has a section on debugging techniques.
  </p>
  <p>
    Thank you!
  </p>

</div>
{% endblock %}
