<li id="setup-source-<%= id %>" class="setup-item <% if (!enabled) { %>disabled<% } %>">
  <div class="clearfix">
    <div class="left">
      <span class="name"><%= name %></span>
      <span class="text-detail">
      <% if (username) { %>
        <%= username %>
      <% } else { %>
        <%= protocol %> {{_("source")}}
      <% } %>
      </span>
    </div>
    <% if (enabled) { %>
    <a href="#" data-id="<%= id %>" class="setup-source-disable button-secondary button-small right" data-state="<%= enabled %>" data-message="{{_("Disabled")}}">{{_("Enabled")}}</a>
    <% } else { %>
    <a href="#" data-id="<%= id %>" class="setup-source-disable button-alert button-small right" data-state="<%= enabled %>" data-message="{{_("Enabled")}}">{{_("Disabled")}}</a>
    <% } %>
  </div>
  <div class="half-top clearfix">
  <div id="setup-source-message-<%= id %>" class="left"><em>{{_("Getting Status...")}}</em></div>
    <ul id="setup-source-actions-<%= id %>" class="horizontal right setup-actions">
      <li id="item-source-configure-<%= id %>"><a href="#sources/configure/<%= id %>" class="<% if (!enabled) { %>disabled<% } %>"><span class="icon-tag"></span> {{_("Tags")}}</a></li>
      <li id="item-source-edit-<%= id %>"><a href="#sources/<%= id %>" class="<% if (!enabled) { %>disabled<% } %>"><span class="icon-settings"></span> {{_("Edit")}}</a></li>
    </ul>
  </div>
  <div id="setup-item-notice-<%= id %>" class="setup-item-notice half-top hide"></div>
</li>