body {background: #f0fff0; font-family: arial,sans-serif; color: #000;}
body, div, form, h1, #header {padding: 0; margin: 0;}
pre {display: inline-block; margin: 0 5px; padding: 0 5px;}
#heading, #pile {padding: 5px 10px;}
#heading {font-size: 3.75em; padding-left: 15px; padding-top: 15px; display: inline-block;}
#heading a {text-decoration: none; color: #000;}
#pile {z-index: -3; color: #666; font-size: 0.6em; position: absolute; top: 0; left: 0; text-align: center;}
#search {display: inline-block;}
#content {width: 80%; float: right;}
#sidebar {width: 19%; float: left; overflow: hidden;}
#sidebar .checked {font-weight: bold;}
#sidebar ul.tag_list {list-style-type: none; white-space: nowrap; padding-left: 3em;}
#sidebar .none {display: none;}
#sidebar ul.tag_list input {position: absolute; margin: 0; margin-left: -1.5em;}
#sidebar #sidebar_btns {display: inline-block; float: right;}
#sidebar #sidebar_btns input {font-size: 0.8em; padding: 1px 2px; background: #d0dddd0; border: 1px solid #707770;}
#sidebar #sidebar_btns input:hover {background: #e0eee0;}
#footer {text-align: center; font-size: 0.8em; margin-top: 15px; clear: both;}
p.rnav {margin: 4px 10px; text-align: center;}
table.results {table-layout: fixed; border: 0; border-collapse: collapse; width: 100%; font-size: 13px; font-family: Helvetica,Arial;}
tr.result td {overflow: hidden; white-space: nowrap; padding: 1px 3px; margin: 0;}
tr.message td .plain {white-space: pre-wrap; font-family: arial,sans-serif;}
tr.message td .html {white-space: normal; overflow: auto;}
tr.result td a {color: #000; text-decoration: none;}
tr.result td a:hover {text-decoration: underline;}
tr.result td.date a {color: #777;}
tr.t_new {font-weight: bold;}
#rnavtop {position: absolute; top: 0; right: 0;}
td.date {width: 5em; font-size: 11px; text-align: center;}
td.checkbox {width: 1.5em; text-align: center;}
td.from {width: 25%; font-size: 12px;}
td.tags {width: 12%; font-size: 11px; text-align: center;}
tr.result td.tags a {color: #777;}
tr.message td .headers {margin-top: 0px; font-size: 1.1em;}
tr.message td .message .quote {color: #777;}
tr.message td .message .pgpbeginsigned {margin: -3px -3px 3px -3px; font-size: 0.8em; color: #ccf; background: #779;}
tr.message td .message .pgpbeginsigned input {float: right; margin: 3px; font-weight: bold; padding: 1px 2px; background: #ccf; color: #446; border: 1px solid #446;}
tr.message td .message .pgpbeginsigned input:hover {background: #eef;}
tr.message td .message .pgpsignedtext {padding: 3px; margin: -3px; background: #ccf;}
tr.message td .message .pgpsignature {margin: 3px -3px 3px -3px; font-size: 0.8em; color: #ccf; background: #779;}
tr.message td .message .pgpbeginverified {margin: -3px -3px 3px -3px; padding-left: 1em; font-size: 0.8em; color: #cfc; background: #797;}
tr.message td .message .pgpverifiedtext {padding: 3px; margin: -3px; background: #bfd;}
tr.message td .message .pgpsecuretext {padding: 3px; margin: -3px; background: #cfc;}
tr.message td .message .pgpverification {display: none;}
tr.odd {background: #ffffff;}
tr.even {background: #eeeeee;}
#qbox {width: 400px; border: 2px solid #eee; padding: 5px; height: 20px; margin: 4px;}
a.btn, button.btn, input.btn { background-color: #5f5f5f; border-radius: 3px; padding: 5px; height: 20px; min-width: 30px; margin: 4px; color: #fff; text-decoration: none; color: 444; }
a.btn-primary, button.btn-primary, input.btn-primary { background-color: #d74937; color: #fff; font-weight: bold; }
a.btn-search, button.btn-primary, input.btn-primary { margin-left: -4px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btnbar { display: inline-block; }

