/* Sidebar */

  #sidebar {
    width: 225px;
    background: @grayLight;
    position: fixed;
    top: 62px;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    border-right: 1px solid @gray;
    border-spacing: 0px;
    overflow-y: auto;
    z-index: 10;
  }

  #sidebar nav { padding: 0px; padding-bottom: 15px; margin: 0px; }
	#sidebar hr  { margin: 10px 0px;	}

  #sidebar      ul    { margin: 0px 8px 0px 8px; padding: 0px; }
  #sidebar      ul li { margin: 4px 0px; padding: 6px 8px 6px 8px; }
  #sidebar.cozy ul li { margin-top: 2px; margin-bottom: 2px; padding-top: 2px; padding-bottom: 2px; }
  #sidebar.snug ul li { margin-top: 2px; margin-bottom: 2px; padding-top: 1px; padding-bottom: 1px; }

  #sidebar a.sidebar-tag {
    position: relative;
    width: 170px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    transition-duration: 0.2s;
  }

  #sidebar a.sidebar-tag:hover  { color: @gray; }

  #sidebar.cozy a.sidebar-tag   { padding: 3px 0px; }
  #sidebar.snug a.sidebar-tag   { padding: 0px 0px; }

  #sidebar li.is-editing,
  #sidebar li.is-editing a.sidebar-tag { cursor: move; }

  #sidebar span.icon {
    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }

	#sidebar.cozy span.icon { font-size: 18px; line-height: 18px; }
  #sidebar.snug span.icon { font-size: 16px; line-height: 16px; }

  #sidebar a.sidebar-tag > span.name,
  #sidebar a.sidebar-tag > span.notification {
    vertical-align: middle;
    font-family: @mailpile-text-font-family;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  #sidebar a.sidebar-tag span.name {
    display: inline-block;
    max-width: 132px;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
	}

  #sidebar a.sidebar-tag span.notification {
    letter-spacing: -.5px;
    color: @gray;
  }

  #sidebar.cozy span.name,
  #sidebar.cozy span.notification { font-size: 16px; line-height: 18px; }
  #sidebar.snug span.name,
  #sidebar.snug span.notification { font-size: 14px; line-height: 16px; }

  #sidebar a.sidebar-tag.has_unread span.name,
  #sidebar a.sidebar-tag.has_unread span.notification {
    font-family: @mailpile-text-font-family-bold;
    font-weight: normal;
  }

 #sidebar a.sidebar-tag-expand {
   display: inline-block;
   color: @gray;
 }

  
/* Sidebar - Subtags */

  #sidebar ul.sidebar-subtags {
    background: lighten(@gray, 15%);
    margin: 5px 0px;
    padding: 5px 0px;
    border-radius: @base-border-radius;
  }

  #sidebar ul.sidebar-subtags li.sidebar-subtag {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #sidebar ul.sidebar-subtags li.sidebar-subtag a.sidebar-tag span.icon {
    font-size: 16px;
    line-height: 16px;
  }


  #sidebar ul.sidebar-subtags li.sidebar-subtag a.sidebar-tag span.name,
  #sidebar ul.sidebar-subtags li.sidebar-subtag a.sidebar-tag span.notification {
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
    font-family: @text-font-family;
    line-height: 18px;
  }


/* Sidebar - Edit */

  .button-sidebar-edit {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: @gray !important;
  }

  a.sidebar-tag span.sidebar-tag-archive {
    cursor: pointer;
    background: @gray;
    color: @white;
    vertical-align: middle;
    padding: 5px;
    position: absolute;
    top: 4px;
    right: 0px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 10px;
  }

  a.sidebar-tag span.sidebar-tag-archive:hover {
    background: @orange;
  }


/* Sidebar - Drag & Drop */

  .sidebar-tags-draggable {
    border-radius: @base-border-radius;
  }

  .sidebar-tags-draggable-hover {
    background: @grayLight;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  transition-duration: 0.3s;	    
  }

  .sidebar-tags-draggable-active {
    background: @grayMid;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  transition-duration: 0.3s;
  }

  .sidebar-tags-draggable-highlight {
    background: green;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  transition-duration: 0.3s;
  }


/* Sidebar - Sortable */

  .sidebar-tags-sortable {
    height: 29px;
    padding: 5px 10px;
    margin: 4px 0;
    border-radius: @base-border-radius;
    background: @grayMid;
  }
  

/* Sidebar - Tag Drag */

  .sidebar-tag-drag {
  	background: @white;
  	border: 1px solid @gray;
  	border-radius: 4px;
  	padding: 5px 10px;
  	z-index: 9999;
  	font-size: 14px;
  	font-weight: bold;
    z-index: 9999;
  }
  