/* Tags */

  .tag-card-name {
    display: block;
    margin-bottom: 15px;
    font-family: @mailpile-text-font-family-bold;
    font-size: 21px;
    line-height: 21px;
  }

  .tag-card-label {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    color: lighten(@grayDark, 25%);
    font-size: 14px;
    line-height: 14px;
  }

  .tag-card-numbers {
    min-height: 65px;
    clear: both;
  }

  .tag-card-stat {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
  }

  .tag-card-label {
    margin-bottom: 5px;
  }

  .tag-card-stat-count {
    display: block;
    font-size: 30px;
    line-height: 30px;
  }
  
  
/* Tags - Edit */

  #tag-editor-icon {
    font-size: 36px;
    line-height: 36px;
    padding: 5px;  
  }

  li.modal-tag-icon-option {
    font-size: 36px;
    line-height: 36px;
    margin: 0px 15px 15px 0px;
    padding: 5px;
    border-radius: @base-border-radius;
  }

  li.modal-tag-icon-option:hover {
    background-color: @grayMid;
    cursor: pointer;
  }


  #tag-editor-label-color {
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: @base-border-radius;
  }
  
  a.modal-tag-color-option {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0px 15px 15px 0px;
    border-radius: @base-border-radius;
    cursor: pointer;
  }
  
  a.modal-tag-color-option:hover {
    opacity:0.7;
  }
  