/* Web */

	#debug {
		font-size: 14px;
		font-family: Helvetica, Arial, sans-serif;
		text-align: center;
		color: #666666;
		line-height: 14px;
	}

	#debug p {
		margin: 0px 5px;
		padding: 0px;
	}



/* Header */

	#header {
		width: 100%;
		min-width: 700px;
		height: 74px;
		background: @grayLight;
		border-bottom: 1px solid @gray;		
		box-sizing: border-box;
		overflow: hidden;
	}
	
	#header .logo {
		width: 64px;
		height: 45px;
		display: inline-block;
		position: relative;
		top: 13px;
		margin-right: 15px;
		left: 20px;
		float: left;
	}
	
	#header h1 {
		display: inline-block;
		float: left;
		position: relative;
		top: 8px;
		left: 15px;
		line-height: 36px;
		color: @grayDark;
		font-weight: normal;		
	}
	
	#header h1 small {
		font-family: @text-font-family;
		display: block;
		font-size: 14px;
		line-height: 14px;
	}
	
	#header nav {
		float: right;
		position: relative;
		top: 10px;
		right: 15px;	
	}
	
	#header nav ul li {
		float: left;
		margin-left: 30px;
		text-align: center;
	}
	
	#header nav a {
	  width: 100%;
	  height: 100%;
	  display: block;
		font-size: 14px;
		font-family: @text-font-family-bold;
		font-weight: normal;
		color: @grayDark;
	}
	
	#header nav a:hover {
		color: @blue;
	} 
	
	#header nav a span {
		display: block;
		font-size: 36px;
		line-height: 36px;
	}

	#header nav button {
	  margin: 0px;
	  padding: 0px;
    font-size: 14px;
		font-family: @text-font-family-bold;
		font-weight: 100;
		color: @grayDark !important;
		text-shadow: 0px 0px 0px;
		border: 0px;
		line-height: 24px;
  	background: none;
	}
	
	#header nav button:hover {
		color: @blue !important;
	} 	
	
	#header nav button span {
		display: block;
		font-size: 36px;
		line-height: 36px;  	
	}
	
	
/* Container */

	#container {
		width: 100%;
		min-width: 800px;
		display: table;
		padding: 0;
		margin: 0;
	}


/* Sidebar */

	#sidebar {
		width: 20%;	
		min-width: 225px;
		display: table-cell;
		background: @grayLight;
		border-right: 1px solid @gray;
		box-sizing: border-box;
		margin: 0;
		padding: 0px;
		border-spacing:0px;
		line-height: 18px;
		vertical-align: top;
	}
	
	#sidebar hr {
  	margin: 20px 0px 0px 0px;
	}
	
	#sidebar nav ul {
		margin: 10px 20px;
	}

	#sidebar nav ul li {
	}
	
	#sidebar li.navigation-on {
		background: @gray;
		border-radius: @base-border-radius;
	}

	#sidebar li.navigation-on a {
		cursor: default;		
		color: @white;
	}

	#sidebar li.navigation-on a span {
		color: @grayDark;
	}
	
	#sidebar li.navigation-on a small {
		color: @grayDark;
	}

	#sidebar a {
		display: block;
		padding: 15px 0px;
		font-family: @text-font-family-bold;
		font-size: 18px;
		font-weight: normal;
		color: @grayDark;
	}
	
	#sidebar a:hover {
		color: @red;
	}

	#sidebar a:active {
		color: @red;
	}	
	
	#sidebar a span.sidebar-icon {
		position: relative;
		top: 3px;
		left: 0px;
		margin-right: 4px;
		font-size: 24px;
		font-weight: normal;
	}

  #sidebar a span.sidebar-tag {
    
  }

  #sidebar a span.sidebar-notification {
    padding: 5px 7px;
    font-size: 14px;
  }


/* Content */	
	
	#content {
		width: 80%;
		min-width: 575px;
		display: table-cell;
		box-sizing: border-box;
		border-spacing:10px;
	}

	#content div.pile-speed {
		text-align: center;
		font-family: @text-font-family;
		color: @gray;
	}

	#content div.pile-speed span {
		font-size: 24px;
		margin-right: 10px;
		position: relative;
		top: 3px;
		left: 0px;
	}



/* Sub Navigation */

	#sub-navigation	{
		width: 100%;
    height: 65px;
		min-width: 450px;
		display: block;
		background: @grayLight;
		border-bottom: 1px solid @gray;
		box-sizing: border-box;
	}

	#sub-navigation ul {
	  position: relative;
	  top: 10px;
  }

	#sub-navigation ul.left {
	  left: 15px;
	}

	#sub-navigation ul.right {
	  right: 15px;
	}

	#sub-navigation ul li {
    padding: 0px 5px;
	}

	#sub-navigation a {
		display: block;	
		padding: 10px 10px;
		font-family: @text-font-family-bold;
		font-weight: normal;		
		color: @grayDark;
	}
	
	#sub-navigation a:hover, #sub-navigation a:hover span.navigation-icon {
		color: @red;
	}

	#sub-navigation li.navigation-on {
		background: lighten(@gray, 15%);
		border-radius: @base-border-radius;		
	}

	#sub-navigation li.navigation-on a {
		cursor: default;
		color: @grayDark;
	}	

	#sub-navigation li.navigation-on a:hover, #sub-navigation li.navigation-on a:hover span {
    color: @grayDark;
  }
	
	#sub-navigation ul {
		display: block;

	}
	
	#sub-navigation li {
		display: inline-block;
		float: left;
		text-align: center;
	}	

	.navigation-icon {
		margin: 0;
		color: @grayDark;
	}
	
  .navigation-text {
    margin: 0 0 0 8px;
  }
	
	.navigation-attention-urgent {
		border-radius: @base-border-radius;
		background: @orangeRed;
		padding: 1px 4px;
		color: @white;
	}

	.navigation-attention-important {
		border-radius: @base-border-radius;	
		background: @orange;
		padding: 1px 4px;
		color: @white;		
	}
	

/* Content */

  div.content-normal {
    margin: 30px 25px;
  }



/* Footer */

	#footer {
	  position: relative;
	  bottom: 0px;
	  left: 0px;
		margin: 20px 0;
		font-size: 12px;
		text-align: center;
	}
	
	#footer a {
		font-size: 12px;
	}
	

	
/* Search */

	#search {
		background: @grayLight;	
		border-bottom: 1px solid @gray;
		padding: 10px 20px;
		box-sizing: padding-box;
	}

	#search form {
		margin-bottom: 0px;
	}
	
	#search span.icon-search {
		position: relative;
		top: 6px;
		left: 0px;
		display: inline-block;
		font-size: 24px;
		color: @grayDark;
	}
	
	#search input[type=text] {
	  .white-form-fields;
		width: 75%;
		display: inline-block;
		font-size: 24px;
		padding: 0px;
		margin-bottom: 0px;
		position: relative;
		top: 5px;
		left: 10px;
	}
	
	#search input[type=text]:placeholder {
    .white-form-fields-placeholder;
	}
	
	#search input[type=text]:focus {
    .white-form-fields-focus;
	}
	
	#search input[type=submit] {
		float: right;
	}
	
	#search-params a {
		padding: 5px 10px;
		background: @grayLight;
		color: @grayDark;
		font-family: @text-font-family-bold;
		font-size: 14px;
		border-radius: @base-border-radius;
		border: 1px solid @gray;
	}
	
	#search-params a:hover {
		background-color: darken(@grayLight, 15%);
	}


	
/* Bulk Actions */

	#bulk-actions {
		border-bottom: 1px solid @gray;
		color: @grayDark;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: padding-box;
	}
	
	#bulk-actions a {
		display: inline-block;
		margin: 10px 30px 10px 0;
		color: @grayDark;
	}

	#bulk-actions a:hover {
		color: @red; 
	}

	#bulk-actions a span {
		position: relative;
		top: 2px;
		left: 0px;
	}

	#bulk-actions h5 {
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
		color: @grayDark;
		font-family: @text-font-family-italic;
		line-height: 24px;
	}



/* Pile Results */

	#pile-results {
		width: 100%;
	}

  #pile-results tr.result {
    background: @white;
  }

	#pile-results tr.result:hover {
		background: lighten(@yellow, 35%);
	}

	#pile-results tr td {
		padding: 10px;
		border-spacing: 0px;
		border-bottom: 1px solid @gray;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
	}

	#pile-results td.from {
	  min-width: 150px;
		padding-left: 15px;
		word-wrap: normal;
		word-break: normal;
		overflow-x: hidden;
	}
	
	#pile-results td.subject {
		min-width: 275px;
		word-break: break-word;		
	}

	#pile-results tr td a {
		font-size: 14px;
		color: @grayDark;
	}
	
	#pile-results tr.in_new td a {
  	color: @red;
	}

	#pile-results tr.result-on {
		background: @grayLight;
	}
	
	#pile-results tr.result-on:hover {
		background: darken(@grayLight, 5%);
	}

	#pile-bottom {
		margin: 15px;
	}
	
	#pile-bottom h5 {
		float: right;
		color: @grayDark;
	}
	
	#pile-bottom div {
		float: right;
		text-align: right;
	}
	
	#pile-bottom div a.change-result-size {
		font-size: 12px;
	}



/* Pile & Sidebar	- Drag / Drop */

  .sidebar-tags-drag-hover {
    background: red;
  }

  .sidebar-tags-drag-active {
    background: yellow;
  }

  .sidebar-tags-drag-highlight {
    background: green;
  }	
	
	
	.pile-results-drag {
  	background: @white;
  	border: 1px solid @gray;
  	padding: 5px 10px;
	}



/* Thread */	

  .message-headers {
    border-bottom: 1px solid @gray;
  }	
	
	.message-email-address {
	  background: #eee;
	  color: @grayDark;
	  border-radius: 3px;
	  padding: 2px;
	  padding-left: 4px;
	  padding-right: 4px;
	  font-weight: normal;
  }
	
	.message-email-address:hover {
    color: @red;
  }

	.message-body {
  	
	}
	
	.message-attachments {
  	
	}

  .message-actions form {
    float: left;
    margin-right: 15px;
  }



/* File Browser */

	.item-file {
		width: 150px;
		float: left; 
		margin: 25px 25px;
		padding: 20px;
		text-align: center;
	}
	
	.item-file:hover {
		background: @grayLight;
	}

	.item-file-icon {
		display: block;
		font-size: 125px;
		margin-bottom: 10px;
	}
	
	.item-file-name {
		font-size: 14px;
		font-family: @text-font-family-bold;
		line-height: 14px;
	}
	
	
/* Compose */

  .compose-headers {
    height: 30px;
  }

  #compose label {
    float: left;
    font-style: normal;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .compose-headers {
    clear:both;
  }
  
  .compose-headers input[type=text],
  .compose-headers input[type=email] {
    float: left;
		width: 75%;
		display: inline-block;
		font-size: 18px;
		padding: 0px;
		margin-bottom: 0px;
	}

  .compose-headers input[type=text]:placeholder,
  .compose-headers input[type=email]:placeholder, {
	}

	.compose-headers input[type=text]:focus,
  .compose-headers input[type=email]:focus {
	}

  .compose-message textarea {
    width: 100%;
    min-height: 300px;
  }

  .compose-message textarea:focus {
  }

	.compose-section {
		padding: .75em;
		border-bottom: 1px solid @gray;
	}
	
	
/* Tags */

  .tag-card {
    width: 20%;
    min-width: 175px;
    height: 38%;
    min-height: 200px;
    box-sizing: border-box;
    margin: 2em 0 0 2em;
    padding: 1em;
    float: left;
		background: @grayLight;    
    border: 1px solid @gray;
  }

  .tag-card:hover {
    background: darken(@grayLight, 5%);
  }

  .tag-card-name {
    display: block;
    margin-bottom: .75em;
    font-size: 24px;
    line-height: 24px;
  }

  .tag-card-label {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    color: lighten(@grayDark, 25%);
    font-size: 14px;
    line-height: 14px;
  }

  .tag-card-numbers {
    min-height: 75px;
    clear: both;
  }

  .tag-card-stat {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
  }

  .tag-card-stat-count {
    display: block;
    font-size: 30px;
    line-height: 30px;
  }

  .tag-card-message-link {
    display: block;
    margin-top: 1.75em;
    font-size: 14px;
  }
  