<div id="bulk-actions" class="bulk-actions clearfix">
	<div class="left"><b><span id="bulk-actions-selected-count">0</span> {{_("Messages")}}</b> {{_("selected")}}</div>
  <ul class="horizontal right">
	  <li><a class="bulk-action" href="#" data-action="add-to-later" title="{{_("Move to Later")}}"><span class="icon-later"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="add-to-group" title="{{_("Move to Group")}}"><span class="icon-groups"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="assign-tags" title="{{_("Assign Tags")}}"><span class="icon-tag"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="archive" title="{{_("Archive Selection")}}"><span class="icon-archive"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="trash" title="{{_("Delete Selection")}}"><span class="icon-trash"></span></a></li>
  </ul>
</div>