<div id="bulk-actions" class="bulk-actions clearfix">
	<div class="left"><b><span id="bulk-actions-selected-count">0</span> Messages</b> Selected</div>
  <ul class="horizontal right">
	  <li><a class="bulk-action" href="#add-to-later" title="Move to Later"><span class="icon-later"></span></a></li>
	  <li><a class="bulk-action" href="#add-to-group" title="Move to Group"><span class="icon-groups"></span></a></li>
	  <li><a class="bulk-action" href="#assign-tags" title="Assign Tags"><span class="icon-tag"></span></a></li>
	  <li><a class="bulk-action" href="#archive" title="Archive Selection"><span class="icon-archive"></span></a></li>
	  <li><a class="bulk-action" href="#delete" title="Delete Selection"><span class="icon-trash"></span></a></li>
  </ul>
</div>