<div id="bulk-actions" class="clearfix">
	<h5><b><span id="bulk-actions-selected-count">0</span> Messages</b> Selected</h5>

	<a class="bulk-action" href="#add-to-later"><span class="icon-later"></span></a>
	<a class="bulk-action" href="#add-to-group"><span class="icon-groups"></span></a>
	<a class="bulk-action" href="#assign-tags"><span class="icon-tag"></span></a>
	<a class="bulk-action" href="#archive"><span class="icon-archive"></span></a>
	<a class="bulk-action" href="#delete"><span class="icon-trash"></span></a>
</div>
