<form id="form-compose-{{mid}}" class="form-compose clearfix" data-mid="{{mid}}">
  <input id="compose-mid" type="hidden" name="mid" value="{{mid}}">
  <input id="compose-crypto" type="hidden" name="encryption" value="{{editing_strings.encryption}}">
  <input id="compose-signature" type="hidden" value="">
  <input id="compose-encryption" type="hidden" value="">
  <div class="compose-basic clearfix">
<!-- FIXME: Add nice pretty dropdown
    <ul class="left">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="compose-from" href="#">
          <img class="compose-from-avatar" src="/static/img/avatar-default.png">
          {{profiles[0].name}} <span class="icon-arrow-left"></span>
          <span class="compose-from-address">{{profiles[0].email}}</span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="compose-from">
          {% for profile in profiles %}
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            {{ profile.name }}
            <span>{{ profile.email }}</span></a>
          </li>
          {% endfor %} 
        </ul>
      </li>
    </ul>
-->
    <label>{{_("From")}}</label>
    <select class="compose-from" name="from">
      <option value="{{editing_strings.from}}" selected>{{editing_strings.from}}</option>
      <option value="{{editing_strings.from}}"> - - - </option>
      {% for p in profiles %}
      <option value="{{p.name}} &lt;{{p.email}}&gt;">{{p.name}} &lt;{{p.email}}&gt;</option>
      {% endfor %}
    </select>
    <ul class="compose-options horizontal right" data-mid="{{mid}}">
      {% if command == "view" %}
      <li><label class="compose-apply-quote"><input class="compose-apply-quote" type="checkbox" checked="checked"> Quote</label></li>
      {% endif %}
      <li class="compose-crypto-signature none animated"
          data-crypto_signed="{{_("Signed")}}"
          data-crypto_not_signed="{{_("Not Signed")}}"
          data-crypto_signed_error="{{_("Signature Error")}}"
          data-crypto_title_signed="{{_("This message will be signed with your key. Recipients who have your key will know it actually came from you :)")}}"          
          data-crypto_title_not_signed="{{_("This message will not be signed with your key. Recipients will have no way of knowing it actually came from you.")}}"
          data-crypto_title_signed_error="{{_("Error accesing your key")}}">
        <span class="icon icon-signature-none"></span> <span class="text">{{_("Not Signed")}}</span></li>
      <li class="compose-crypto-encryption none animated"
          data-crypto_none="{{_("None")}}"
          data-crypto_encrypt="{{_("Encrypted")}}"
          data-crypto_cant_encrypt="{{_("Can't Encrypt")}}"
          data-crypto_encrypt_error="{{_("Error Encrypting")}}"
          data-crypto_title_none="{{_("This message and metadata will not be encrypted")}}"
          data-crypto_title_encrypt="{{_("This message and attachments will be encrypted. The recipients & subject (metadata) will not")}}"
          data-crypto_title_cannot_encrypt="{{_("This message cannot be encrypted because you do not have keys for one or more recipients")}}"
          data-crypto_title_encrypt_error="{{_("There was an error prepping this message for encryption")}}">
        <span class="icon icon-lock-open"></span> <span class="text">{{_("Not Encrypted")}}</span></li>
<!-- FIXME: Add ability to delay sending of an email
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="reply-datetime" href="#"><span class="icon icon-arrow-right"></span> Send <span id="reply-datetime-display">Immediately</span></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="reply-datetime">
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="immediately" href="#">Immediately</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="1" href="#">1 hr</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="2" href="#">3 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="6" href="#">6 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="12" href="#">12 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="24" href="#">1 day</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="48" href="#">2 days</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="168" href="#">1 week</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="336" href="#">2 weeks</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="672" href="#">1 month</a></li>
        </ul>
      </li> -->
      {% if command == "view" %}
      <li><a id="compose-show-details" class="{% if compose == "yes" %}navigation-on{% endif %}" href="#"><span class="icon-compose"></span> Details</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="compose-details" class="{% if command == "view" %}hide{% endif %}">
    <div class="compose-headers">
      <label class="left">
        {{_("To")}}
      </label>
      <label class="right">
        <a id="compose-cc-show" class="compose-show-field" href="#">{{_("Cc")}}</a>
        <a id="compose-bcc-show" class="compose-show-field" href="#">{{_("Bcc")}}</a>
      </label>
      <input id="compose-to" name="to" type="text" tabindex="1" alt="{{_("To")}}" value="{{editing_strings.to}}">
    </div>
    <div id="compose-cc-html" class="compose-headers compose-cc hide">
      <label class="left">{{_("Cc")}}</label>
      <label class="right">
        <a href="#cc" class="compose-hide-field"><span class="icon-eye"></span> hide</a>
      </label>
      <input id="compose-cc" name="cc" type="text" alt="{{_("Cc")}}" value="{{editing_strings.cc}}">
    </div>
    <div id="compose-bcc-html" class="compose-headers compose-bcc hide">
      <label class="left">{{_("Bcc")}}</label>
      <label class="right">
        <a href="#bcc" class="compose-hide-field"><span class="icon-eye"></span> hide</a>
      </label>
      <input id="compose-bcc" name="bcc" type="text" alt="{{_("Bcc")}}" value="{{editing_strings.bcc}}">
    </div>
    <div class="compose-headers compose-subject">
      <label>{{_("Subject")}}</label>
      <input id="compose-subject" name="subject" tabindex="3" type="text" placeholder="{{_("Subject")}}" alt="{{_("Subject")}}" value="{{editing_strings.subject}}">
    </div>
  </div>
  <div class="compose-message">
    <label>{{_("Message")}}</label>
    <textarea id="compose-text-{{mid}}" class="compose-text" name="body" tabindex="4" placeholder="{{_("Your Message...")}}" alt="{{_("Your Message...")}}">{{editing_strings.body}}</textarea>  
  </div>
  <div class="compose-actions clearfix">
    <div class="compose-attachments left">
      <!-- <a href="#"><span class="icon-attachment"></span> Attach Something</a> -->
    </div>
    <div class="compose-buttons right" data-mid="{{mid}}">
      <button class="compose-action" type="submit" name="save" value="save" alt="{{_("Save")}}">
        <span class="icon-compose"></span> {{_("Save")}}
      </button>
      {% if command == "message" %}
      <button class="compose-action" type="submit" name="reply" value="reply" alt="{{_("Reply")}}">
        <span class="icon-reply"></span> {{_("Reply")}}
      </button>  
      {% else %}
      <button class="compose-action" type="submit" name="send" value="send" alt="{{_("Send")}}">
        <span class="icon-sent"></span> {{_("Send")}}
      </button>
      {% endif %}
    </div>
  </div>
</form>
