<div id="compose-box" class="clearfix">
  <div class="clearfix">
    <ul class="left">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="reply-from" href="#">
          <img class="compose-from-avatar" src="/static/img/avatar-default.png">
          You <span class="icon-arrow-left"></span>
          <span class="compose-from-address">hi@brennannovak.com</span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="reply-from">
          {% for p in result.profiles %}
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            {{ p.name|e }}
            <span>{{ p.email|e }}</span> {{ p.route|e }}</a>
          </li>
          {% endfor %} 
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            You <span class="icon-arrow-left"></span>
            <span>hi@brennannovak.com</span></a>
          </li>
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            Work <span class="icon-arrow-left"></span>
            <span>bnvk@mailpile.is</span></a>
          </li>
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            Reverse <span class="icon-arrow-left"></span>
            <span>brennan@reverseproductions.com</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul id="reply-options" class="horizontal right">
      <li><a id="" href="#"><input type="checkbox" checked=""> Quote</a></li>
      <li><a href="#"><span class="icon-unencrypted"></span> Partially Secure</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="reply-datetime" href="#"><span class="icon icon-arrow-right"></span> Send <span id="reply-datetime-display">Immediately</span></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="reply-datetime">
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="immediately" href="#">Immediately</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="1" href="#">1 hr</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="2" href="#">3 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="6" href="#">6 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="12" href="#">12 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="24" href="#">1 day</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="48" href="#">2 days</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="168" href="#">1 week</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="336" href="#">2 weeks</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="672" href="#">1 month</a></li>
        </ul>
      </li>
      <li><a id="reply-show-details" href="#"><span class="icon-compose"></span> Details</a></li>
    </ul>
  </div>

  <div id="thread-reply-details">
    <div>
      To <a class="message-email-address" href="/contact/name@email.com/"><img src="/static/img/avatar-default.png">Ian Nelson</a>
         <input id="compose-to" name="to" type="text" tabindex="1" value="">
    </div>
    <div>
      <input type="text" placeholder="{{_("New Subject")}}">
    </div>
  </div>

  <div id="thread-reply-actions">
    <textarea id="reply-textarea" placeholder="{{_("Your reply...")}}"></textarea>
    <a class="left" href="#"><span class="icon-attachment"></span> Attach Something</a>
    <button class="right" type="submit"><span class="icon-reply"></span> Reply</button>
  </div>

</div>