{% set profiles = mailpile('settings', 'profiles').result.profiles %}
<div id="compose-box" class="clearfix">
  <div class="clearfix">
<!--
    <ul class="left">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="compose-from" href="#">
          <img class="compose-from-avatar" src="/static/img/avatar-default.png">
          {{profiles[0].name}} <span class="icon-arrow-left"></span>
          <span class="compose-from-address">{{profiles[0].email}}</span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="compose-from">
          {% for profile in profiles %}
          <li role="presentation"><a href="#">
            <img src="/static/img/avatar-default.png">
            {{ profile.name|e }}
            <span>{{ profile.email|e }}</span></a>
          </li>
          {% endfor %} 
        </ul>
      </li>
    </ul>
-->
    <label>{{_("From")}}</label>
    <select id="compose-from" tabindex="2" name="from">
      <option value="{{editing_strings.from|e}}" selected>{{editing_strings.from|e}}</option>
      <option value="{{editing_strings.from|e}}"> - - - </option>
      {% for p in profiles %}
      <option value="{{p.name|e}} &lt;{{p.email|e}}&gt;">{{p.name|e}} &lt;{{p.email|e}}&gt;</option>
      {% endfor %}
    </select>

    <ul id="compose-options" class="horizontal right">
      {% if compose == "no" %}
      <li><a id="" href="#"><input type="checkbox" checked=""> Quote</a></li>
      {% endif %}
      <li><a href="#"><span class="icon-lock-open"></span> {{_("Not Encrypted")}}</a></li>
<!-- FIXME: Add ability to delay sending of an email
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="reply-datetime" href="#"><span class="icon icon-arrow-right"></span> Send <span id="reply-datetime-display">Immediately</span></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="reply-datetime">
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="immediately" href="#">Immediately</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="1" href="#">1 hr</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="2" href="#">3 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="6" href="#">6 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="12" href="#">12 hrs</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="24" href="#">1 day</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="48" href="#">2 days</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="168" href="#">1 week</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="336" href="#">2 weeks</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" class="pick-send-datetime" data-datetime="672" href="#">1 month</a></li>
        </ul>
      </li> -->
      <li><a id="compose-show-details" class="{% if compose == "yes" %}navigation-on{% endif %}" href="#"><span class="icon-compose"></span> Details</a></li>
    </ul>
  </div>

  <div id="compose-details" class="{% if compose == "no" %}hide{% endif %}">
    <div class="compose-headers compose-to">
        <label>{{_("To")}}</label>
        <input id="compose-to" name="to" type="text" tabindex="1" value="{% if compose == "yes" %}{{editing_strings.to|e}}{% endif %}">
        <div class="compose-cell" style="float: right">
          <a class="compose-show-field" href="#">{{_("Bcc")}}</a>
          <a class="compose-show-field" href="#">{{_("Cc")}}</a>
        </div>
    </div>
    <div id="compose-cc-html" class="compose-headers compose-cc">
      <label>{{_("Cc")}}</label>
      <input id="compose-cc" name="cc" type="text" value="{{editing_strings.cc|e}}">
    </div>
    <div id="compose-bcc-html" class="compose-headers compose-bcc">
      <label>{{_("Bcc")}}</label>
      <input id="compose-bcc" name="bcc" type="text" value="{{editing_strings.bcc|e}}">
    </div>


    <div>
      <input id="compose-subject" type="text" placeholder="{{_("New Subject")}}" value="{{editing_strings.subject}}">
    </div>
  </div>

  <div id="compose-actions">
    <textarea id="compose-text" placeholder="{{_("Your reply...")}}">{{editing_strings.body}}</textarea>
    <a class="left" href="#"><span class="icon-attachment"></span> Attach Something</a>
    
    {% if compose == "yes" %}
    <button class="compose-action" type="submit" name="save" value="save">
      <span class="icon-compose"></span> {{_("Save")}}
    </button>
    <button class="compose-action" type="submit" name="send" value="send">
      <span class="icon-sent"></span> {{_("Send")}}
    </button>
    {% else %}
    <button class="right" type="submit"><span class="icon-reply"></span> Reply</button>    
    {% endif %}
  </div>

</div>