  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/static/css/default.css" />
  <link rel="stylesheet" href="/static/css/print.css" media="print" />
  {% if state.command_url not in ("/auth/login/", "/auth/logout/") %}
  <link rel="stylesheet" href="/jsapi/as.css" />
  <link rel="stylesheet" href="/static/css/setup.css">
  {% endif %}

  <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
  <![endif]-->
  <!-- Apple Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

  <!-- Favicon -->
  <link rel="shortcut icon" id="basic-favicon" href="/static/img/favicon.png" />
  <link rel="icon" id="basic-favicon" type="image/png" href="/static/img/favicon.png" />


  <script src="/static/js/libraries/jquery.min.js"></script>
  <script src="/static/js/libraries-min.js"></script>

  {% if state.command_url not in ("/auth/login/", "/auth/logout/") %}
  <script src="/api/0/jsapi/as.js"></script>
  <script src="/api/0/jsapi/setup.js"></script>
  {% endif %}