<!-- Notifications -->
<script id="template-notifications" type="text/template">
  <div id="notifications" class="hide">
    <div class="notifications-header">
      {{_("Notifications") }}
    </div>
    <div class="notifications-window">
    <ul>
      <li class="notification">
        <a href="#">
          <img src="/static/img/avatar-default.png">
          <strong>Richard Stallman</strong> sent you a <strong>tormail</strong>
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <span class="icon-tag"></span> The <strong> Mailpile</strong> tag was applied to <strong>400 messages</strong>
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <img src="/static/img/avatar-default.png">
          <strong>You</strong> sent <strong>5 tormail</strong> to various people
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <span class="icon-inbox"></span> <strong>16 new messages</strong> have been downloaded to <strong>Inbox</strong>
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <span class="icon-groups"></span> <strong>You</strong> added 5 people to group <strong>Group</strong>
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <span class="icon-inbox"></span> <strong>3 new messages</strong> have been downloaded to <strong>Bills & Banking</strong>
        </a>                    
      </li>
      <li class="notification">
        <a href="#">
          <span class="icon-tag"></span> The <strong>Friends</strong> tag was applied to <strong>51 messages</strong>
        </a>                    
      </li>
    </ul>
    </div>
    <div class="notifications-bottom">
      <a href="/eventlog/">{{_("All Notifications")}}</a>
    </div>
  </div>
</script>


<!-- Search Param Editor -->
<script id="template-search-params" type="text/template">
  <div id="search-params" class="clearfix hide">
    <ul>
      <li><span class="icon-calendar"></span> {{_("From")}} <a href="#" class="" id="search-start-time">{{_("Start Date")}}</a> {{_("to")}} <a href="#" class="" id="search-end-time">{{_("Present")}}</a></li>
      <li><span class="icon-tag"></span> {{_("With")}} <a href="#" id="search-tags">{{_("No Tags")}}</a></li>
      <li><span class="icon-groups"></span> {{_("In")}} <a href="#" id="search-all-groups">{{_("All Groups")}}</a></li>
      <li><span class="icon-user"></span> {{_("And")}} <a href="#" id="search-tags">{{_("All Contacts")}}</a></li>
    </ul>
  </div>
</script>


<!-- Debug -->
<script id="template-debug" type="text/template">
  <div id="debug">
    <h3>DEBUG</h3>
    <b>command:</b> {{ command }}<br>
    <b>args:</b> {{ args }}<br>
    <b>kwargs:</b> {{ kwargs }}
    {{logged}}
  </div>
</script>


<!-- Contact -->
<script id="template-contact-add" type="text/template">
  <form id="form-contact-add" class="standard">
    <fieldset class="contact-add-fields">
      <input type="hidden" name="csrf" value="">
      <label>{{_("Name")}}</label>
      <input type="text" name="name" data-type="name" class="contact-add-name" value="" placeholder="Chelsea Manning">
      <label>{{_("E-mail")}}</label>
      <input type="text" name="email" data-type="email" class="contact-add-email" value="" placeholder="chelsea@manning.com">
      <div class="contact-add-signature"></div>
    </fieldset>
    <div id="contact-add-key"></div>
    <button type="submit"><span class="icon-plus"></span> {{_("Add")}}</button>
  </form>
</script>


<!-- Crypto - Results and templates for interacting with keyservers -->
<script id="template-searchkey-running" type="text/template">
  {{_("We are searching numerous sources for encryption keys that match the address: ")}} <strong><%= query %></strong>
</script>

<script id="template-searchkey-running" type="text/template">
  {{_("We are searching numerous sources for encryption keys that match the address: ")}} <strong><%= query %></strong>
</script>

<script id="template-searchkey-result-item" type="text/template">
<li class="searchkey-result-item">
  <div class="clearfix">
    <div class="avatar"><img src="<%= avatar %>"></div>
    <div class="name">
      <%= uid.name %>
      <span><%= uid.email %></span>
    </div>
    <span class="icon-fingerprint"></span>
    <div class="fingerprint">
      <%= Mailpile.nice_fingerprint(fingerprint) %>
    </div>
  </div>
  <div class="half-top clearfix">
    <div class="searchkey-result-score left">
      <% if (score_stars >= 5) { %>
      <span class="icon-signature-verified color-08-green"></span>
      <% } else if (score_stars < 5 && score_stars > 2) { %>
      <span class="icon-signature-unverified color-06-blue"></span>
      <% } else if (score_stars <= 2 && score_stars >= 0) { %>
      <span class="icon-signature-unverified color-02-gray"></span>
      <% } else if (score_stars < 2 && score_stars > -3) { %>
      <span class="icon-signature-unknown color-10-orange"></span>
      <% } else if (score_stars < -3) { %>
      <span class="icon-signature-revoked color-12-red"></span>
      <% } %>
      <em><%= score_reason %></em>
    </div>
    <div class="searchkey-result-details hide">
      <h4>Score: <%= score %></h4>
      <p>This encryption key score is calculated from the following facts
      <% _.each(origins, function(item) { %>
      <%= item %><br>
      <% }); %>
      </p>
    </div>
    <div class="searchkey-result-actions right">
      <% if (on_keychain) { %>
      <select name="contact-key" class="crypto-key-policy" data-fingerprint="<%= fingerprint %>">
        <option value="true" selected="selected">{{_("Use This Key")}}</option>
        <option value="false">{{_("Don't Use This Key")}}</option>
      </select>
      <% } else { %>
      <a href="#" class="crypto-key-import" data-fingerprint="<%= fingerprint %>"><span class="icon-key"></span> {{_("Import Key")}}</a>
      <% } %>
    </div>
  </div>
</li>
</script>


<script id="template-search-keyserver-results" type="text/template">
  <div class="contact-add-search-keyserver">
    <div id="contact-search-keyserver-input"></div>
    <div id="contact-search-keyserver-result"></div>
  </div>
</script>


<script id="template-search-keyserver-item" type="text/template">
  <li class="contact-add-search-item" data-keyid="<%= keyid %>">
    <span class="name"><%= name %></span>
    <span class="email"><span class="icon-inbox"></span> <%= email %></span>
    <span class="key"><span class="icon-key"></span> {{_("Key")}}: <%= keyid %></span>
    <span class="created">{{_("Created")}} <%= created %></span>
    <span class="keysize">{{_("Key Size")}} <%= keysize %></span>
    <span class="keytype">{{_("Key Type")}} <%= keytype %></span>
  </li>
</script>


<script id="template-search-pile-tags-link" type="text/template">
  <a class="pile-message-tag" id="pile-message-tag-<%= mid %>-<%= tid %>" href="/thread/=<%= mid %>/" data-tag_name="<%= name %>" data-tag_url="/in/<%= slug %>/" data-tag_tid="<%= tid %>"><%= name %></a>
</script>


<script id="template-modal-tag-picker-item" type="text/template">
  <tr class="modal-tag-picker-item <%= display %>" data-tid="<%= tid %>">
    <td class="tag text-left color-<%= label_color %>"><span class="<%= icon %>"></span> <span class="text"><%= name %></span></td>
    <td class="selection text-right">6 selected</td>
    <td class="checkbox text-center"><input type="checkbox"></td>
  </tr>
</script>


<script id="template-modal-private-key-item" type="text/template">
<li class="grouped">
  <h4><span class="icon-fingerprint"></span> <%= Mailpile.nice_fingerprint(fingerprint) %></h4>
  <% if (expiration_date) { %>
  <em>Key expires: <%= expiration_date %></em>
  <% } %>

  <% _.each(uids, function(uid, key) { %>
  <strong><%= uid.name %></strong><br>
  <%= uid.email %><br><br>
  <% }); %>

  <%= keytype_name %> Key / <%= keysize %> bits
  
  <label class="right">
  Send Key <input type="checkbox" name="send_key" value="<%= fingerprint %>">
  </label>
</li>
</script>


<script id="template-thread-notification-unthreaded" type="text/template">
  <a href="<%= url %>"><span class="icon-links"></span> {{_("Message moved to new thread")}} <span class="instruction">({{_("go to new thread")}})</span></a>
</script>


<script id="template-notification-bubble" type="text/template">
  <div class="notification-bubble">
    <a href="#" class="notification-close right"><span class="icon-circle-x"></span></a>
    <span class="icon icon-message"></span> <span class="title">15 Messages Moved</span><br> 
    A mistake? <a href="#">Undo</a>
  </div>
</script>