{% if state.command_url in ("/message/draft/", "/message/") %}
<script src="/static/js/libraries/plupload.full.min.js"></script>
{% endif %}
<script src="/static/js/mailpile.js"></script>
<script>
{% if result.data and result.data.messages %}
  {% set messages_json = result.data.messages|json %}
{% endif %}
{% if result.data and result.data.metadata %}
  {% set metadata_json = result.data.metadata|json %}
{% endif %}
{% set tags_json = mailpile("tags", "display=*", "mode=flat").result.tags|json %}
$(document).ready(function() {
  mailpile.instance = {
   "command": "{{ command }}",
   "args": "{{ args }}",
   "messages": {% if result.data and result.data.messages %}{{ messages_json|safe }}{% else %}{}{% endif %},
   "metadata": {% if result.data and result.data.metadata %}{{ metadata_json|safe }}{% else %}{}{% endif %},
   "tags": {{ tags_json|safe }},
   "search_tag_ids": {% if result.search_tag_ids %}{{result.search_tag_ids|safe }}{% else %}[]{% endif %}
  };
});
</script>
<script src="/static/js/app/global.js"></script>
<script src="/static/js/app/bulk_actions.js"></script>
<script src="/static/js/app/notifications.js"></script>
<script src="/static/js/app/tooltips.js"></script>
<script src="/static/js/app/keybindings.js"></script>
<script src="/static/js/app/gpg.js"></script>
<script src="/static/js/app/compose.js"></script>
<script src="/static/js/app/sidebar.js"></script> 
<script src="/static/js/app/pile.js"></script>
<script src="/static/js/app/search.js"></script>
<script src="/static/js/app/thread.js"></script>
<script src="/static/js/app/message.js"></script>
<script src="/static/js/app/contacts.js"></script>
<script src="/static/js/app/tags.js"></script>
<script src="/static/js/app/settings.js"></script>