<script src="/static/js/mailpile.js"></script>
<script>
{% set tags_json = mailpile("tags").result.tags|json %}
$(document).ready(function() {
  mailpile.instance = {
   "command": "{{ command }}",
   "args": "{{ args }}",
   "tags": {{ tags_json|safe }},
   {% if result.search_tag_ids %}"search_tag_ids": {{result.search_tag_ids|safe }}{% endif %}
  };
});
</script>
<script src="/static/js/app/global.js"></script>
<script src="/static/js/app/bulk_actions.js"></script>
<script src="/static/js/app/notifications.js"></script>
<script src="/static/js/app/tooltips.js"></script>
<script src="/static/js/app/keybindings.js"></script>
<script src="/static/js/app/gpg.js"></script>
<script src="/static/js/app/compose.js"></script>
<script src="/static/js/app/sidebar.js"></script>
<script src="/static/js/app/pile.js"></script>
<script src="/static/js/app/search.js"></script>
<script src="/static/js/app/thread.js"></script>
<script src="/static/js/app/message.js"></script>
<script src="/static/js/app/contacts.js"></script>
<script src="/static/js/app/tags.js"></script>
<script src="/static/js/app/settings.js"></script>