{% if state.command_url in ("/message/draft/", "/message/") %}
<script src="/static/js/libraries/plupload.full.min.js"></script>
{% endif %}
<script>
{% if result.data and result.data.addresses %}
  {% set addresses_json = result.data.addresses|json %}
{% endif %}
{% if result.data and result.data.messages %}
  {% set messages_json = result.data.messages|json %}
{% endif %}
{% if result.data and result.data.metadata %}
  {% set metadata_json = result.data.metadata|json %}
{% endif %}
$(document).ready(function() {

  // Start It
  Mailpile.render();

  // Print JSON for JS Use
  Mailpile.instance = {
   "command": "{{ command }}",
   "state": {{state|json|safe}},
   "args": "{{ args }}",
   "addresses": {% if result.data and result.data.addresses %}{{ addresses_json|safe }}{% else %}{}{% endif %},
   "messages": {% if result.data and result.data.messages %}{{ messages_json|safe }}{% else %}{}{% endif %},
   "metadata": {% if result.data and result.data.metadata %}{{ metadata_json|safe }}{% else %}{}{% endif %},
   "search_tag_ids": {% if result.search_tag_ids %}{{result.search_tag_ids|safe }}{% else %}[]{% endif %},
   "search_addresses": []
  };
});
</script>
<script src="/api/0/jsapi/app.js"></script>