<script id="modal-tag-picker" type="text/template">
<div class="modal-dialog">
<form id="form-tag-picker">
   <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><span class="icon-tag"></span> {{_("Tag Selection")}}</h4>
    </div>
    <div class="modal-body">
      <ul id="tag-picker-tags"><%= tags %></ul>
      <h3>{{_("Archive")}}</h3>
      <ul id="tag-picker-archive"><%= archive %></ul>      
    </div>
    <div class="modal-footer">
      <button title="{{_("Close")}}" alt="{{_("Close")}}" data-dismiss="modal">{{_("Close")}}</button>
      <button title="{{_("Apply")}}" alt="{{_("Apply")}}">{{_("Apply")}}</button>
    </div>
  </div>
</form>
</div>
</script>