{%    if mid in result.data.message
%}{%    set message = result.data.message[mid]
%}{%  else
%}{%    set message = None
%}{%  endif
%}{%  set metadata = result.data.metadata[mid]
%}{%  set thread = result.data.threads[metadata.thread_mid]
%}{%  set conversation_count = thread|length + 1
%}{%  set from = result.data.addresses[metadata.from.aid]
%}{%  if not from
%}{%    set from = {'fn': 'Unknown sender', 'email': ''}
%}{%  endif
%}{%  if metadata.urls.editing
%}{%    set url = metadata.urls.editing
%}{%  else
%}{%    set url = metadata.urls.thread
%}{%  endif
%}
<tr id="pile-message-{{mid}}" class="result{% for tid in metadata.tag_tids %} in_{{result.data.tags[tid].slug}}{% endfor %}{% if metadata.flags.replied %} replied{% endif %}" data-state="normal" data-mid="{{mid}}">
  <td class="draggable"></td>
  <td class="avatar">
    <a href="{{url}}"><img src="{{ show_avatar(from) }}"></a>
  </td>
  <td class="from">
    <a class="item-from" href="{{url}}" title='{{metadata.from.fn}} &lt;{{from.address}}&gt;'>
    {% if metadata.from.fn %}{{ metadata.from.fn|nice_name(36) }}{% else %}({{_("No Name")}}){% endif %}</a>
    {% if conversation_count > 1 %}<span class="conversation-count">{{ conversation_count }}</span>{% endif %}
    {% if metadata.flags.replied %}<span class="icon-reply"></span>{% endif %}
  </td>
  <td class="subject">
    <span class="item-tags">
    {% if has_label_tags(result.data.tags, metadata.tag_tids) %}
    <span class="icon-tag"></span>
    {% for tid in metadata.tag_tids %}
      {% set tag = result.data.tags[tid] %}
      {% if tag.label and not tag.searched %}
        <a class="pile-message-tag" href="{{url}}" data-tag_name="{{tag.name}}" data-tag_url="{{tag.url}}" data-tag_tid="{{tag.tid}}"> {{tag.name}}</a>
      {% endif %}
    {% endfor %}
    {% endif %}
    </span>
    <a class="item-subject" href="{{url}}">{% if metadata.subject %}{{ metadata.subject|nice_subject }}{% else %}({{_("No Subject")}}){% endif %}</a>
    <span class="item-snippet">{{metadata.snippet}}</span>
  </td>
  <td class="date" valign="top">
    <a href="/search/dates:{{metadata.date}}/">{{metadata.timestamp|elapsed_datetime}}</a>
  </td>
  <td class="checkbox" valign="top">
    <input type="checkbox" name="mid" value="{{mid}}">
  </td>
</tr>
