<!-- FIXME: make density class be pulled from user profile setting -->
<div id="sidebar" class="comfy">
  <nav>
    <ul>
      {% for tag in mailpile("tag/list", "display=priority").result.tags %}
      {% if tag.slug == "drafts" %}
      <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-default {{ navigation_on(result.search_tag_ids, tag.tid) }}">
      {% elif tag.slug == "outbox" %}
      <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-default {% if tag.stats.all == 0 %} hide{% endif %} {{ navigation_on(result.search_tag_ids, tag.tid) }}">
      {% else %}
      <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-draggable {{ navigation_on(result.search_tag_ids, tag.tid) }}">
      {% endif %}
        <a href="{{tag.url}}" class="sidebar-tag" title="{{tag.stats.all}} {{_("emails")}}" data-tag_name="{{tag.name}}" data-tag_slug="{{tag.slug}}" data-tag_stat_new="{{tag.stats.new}}" data-tag_stat_all="{{tag.stats.all}}">
          {% if tag.icon %}
          <span class="sidebar-icon {{tag.icon}}"></span>          
          {% else %}
          <span class="sidebar-icon icon-{{tag.slug}}"></span>
          {% endif %}
          <span class="sidebar-tag"><span>{{tag.name}}</span></span>
          {% if tag.slug == "outbox" %}
            {% if tag.stats.all > 0 %}
            <span class="sidebar-notification notification-important">{{ friendly_number(tag.stats.all) }}</span>
            {% endif %}
          {% else %}
            {% if tag.stats.new > 0 %}
            <span class="sidebar-notification notification-important">{{ friendly_number(tag.stats.new) }}</span>
            {% endif %}
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      {% for tag in mailpile("tag/list", "display=tag").result.tags %}
      <li id="sidebar-tag-{{tag.slug}}" class="sidebar-tags-draggable {{ navigation_on(result.search_tag_ids, tag.tid) }}">
        <a href="{{tag.url}}" class="sidebar-tag" title="{{tag.stats.all}} emails" data-tag_name="{{tag.name}}" data-tag_slug="{{tag.slug}}" data-tag_stat_new="{{tag.stats.new}}" data-tag_stat_all="{{tag.stats.all}}">
          {% if tag.icon %}
          <span class="sidebar-icon {{tag.icon}}"></span>          
          {% else %}
          <span class="sidebar-icon icon-tag"></span>
          {% endif %}
          <span class="sidebar-tag"><span>{{tag.name}}</span></span>
          {% if tag.stats.new > 0 %}
          <span class="sidebar-notification notification-important">{{ friendly_number(tag.stats.new) }}</span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li>
        <a href="/search/all:mail/" class="sidebar-tag">
          <span class="sidebar-icon icon-logo"></span>
          <span class="sidebar-tag"><span>{{_("All Mail")}}</span></span>
        </a>
      </li>
      <li>
        <a href="/search/att:jpg/" class="sidebar-tag">
          <span class="sidebar-icon icon-photos"></span>
          <span class="sidebar-tag"><span>{{_("Photos")}}</span></span>
        </a>
      </li>
      <li>
        <a href="/search/has:attachment/" class="sidebar-tag">
          <span class="sidebar-icon icon-files"></span>
          <span class="sidebar-tag"><span>{{_("Files")}}</span></span>
        </a>
      </li>
      <li>
        <a href="/search/http/" class="sidebar-tag">
          <span class="sidebar-icon icon-links"></span>
          <span class="sidebar-tag"><span>{{_("Links")}}</span></span>
        </a>
      </li>
      <!--
      <li>
        <a href="/group/list/" class="">
          <span class="sidebar-icon icon-groups"></span>
          <span class="sidebar-tag"><span>{{_("Groups")}}</span></span>
        </a>
      </li>
      -->
    </ul>
  </nav>
</div>