{% macro render_sidebar_tag(tag) -%}
{# Show proper classes #}
{% if tag.slug == "drafts" %}
<li id="sidebar-tag-{{tag.tid}}" data-tid="{{tag.tid}}" data-display_order="{{tag.display_order}}" class="sidebar-tags-default {{ navigation_on(result.search_tag_ids, tag.tid) }}">
{% elif tag.slug == "outbox" %}
<li id="sidebar-tag-{{tag.tid}}" data-tid="{{tag.tid}}" data-display_order="{{tag.display_order}}" class="sidebar-tags-default {% if tag.stats.all == 0 %} hide{% endif %} {{ navigation_on(result.search_tag_ids, tag.tid) }}">
{% else %}
<li id="sidebar-tag-{{tag.tid}}" data-tid="{{tag.tid}}" data-display_order="{{tag.display_order}}" class="sidebar-tags-draggable {{ navigation_on(result.search_tag_ids, tag.tid) }}">
{% endif %}
{% if tag.slug == "outbox" or tag.slug == "drafts" %}
{% set tag_new_count = tag.stats.all %}
{% elif tag.stats.get("sum_new") %}
{% set tag_new_count = tag.stats.sum_new %}          
{% else %}
{% set tag_new_count = tag.stats.new %}
{% endif %}
  <a href="{{tag.url}}" class="sidebar-tag color-{{tag.label_color}}{% if tag_new_count %} has_unread{% endif %}" title="{{tag.name}} {{tag.stats.all}}" data-tid="{{tag.tid}}">
    <span class="sidebar-icon {% if tag.get("subtags") %}icon-tags{% else %}{{tag.icon}}{% endif %}" style="color: {{theme_settings().colors[tag.label_color]}};"></span>
    <span class="sidebar-name">{{tag.name}}</span> 
    <span class="sidebar-notification">{% if tag_new_count %} {{friendly_number(tag_new_count)}}{% endif %}</span>
  </a>
</li>
{% if tag.subtags %}{# Render Subtags #}
{% for subtag in tag.subtags %}
<li id="sidebar-tag-{{subtag.tid}}" data-tid="{{subtag.tid}}" data-display_order="{{subtag.display_order}}" class="sidebar-subtag sidebar-tags-draggable subtag-of-{{tag.tid}} hide">
  <a href="{{subtag.url}}" class="sidebar-tag hide" title="{{subtag.name}} {{subtag.stats.all}}" data-tid="{{subtag.tid}}">
    <span class="sidebar-icon icon-minus"></span>
    <span class="sidebar-name">{{subtag.name}}</span> 
    {% if subtag.stats.new %}
    <span class="sidebar-notification" id="sidebar-notifications-{{tag.tid}}">{{ friendly_number(subtag.stats.new) }}</span>
    {% endif %}
  </a>
</li>
{% endfor %}
{% endif %}
{%- endmacro %}

<!-- FIXME: make "density" class be pulled from user profile setting -->
<div id="sidebar" class="comfy">
  <nav>
    <ul id="sidebar-priority" class="sidebar-sortable">
      {%- for tag in mailpile("tags", "mode=tree", "display=priority").result.tags -%}
      {{ render_sidebar_tag(tag) }}
      {%- endfor -%}
    </ul>
    <hr>
    <ul id="sidebar-tag" class="sidebar-sortable">
      {%- for tag in mailpile("tags", "mode=tree", "display=tag").result.tags -%}
      {{ render_sidebar_tag(tag) }}
      {%- endfor -%}
    </ul>
    <a href="#" class="button-sidebar-edit" data-message="{{_("Done Editing")}}" data-state="done">
      <span class="icon icon-settings"></span>
      <span class="text">{{_("Edit Sidebar")}}</span>
    </a>
  </nav>
</div>
