<div class="thread-message" id="message-{{mid}}" data-mid="{{mid}}"> 
  {% set from = result.data.addresses[metadata.from.aid] %}
  {% include("partials/thread_metadata.html") %}        
  <div class="thread-item-metadata-details" id="metadata-details-{{mid}}">
    <ul class="clearfix">
      <li>{{_("To")}}:</li>
      {% if metadata.to_aids %}
      {% for to_aid in metadata.to_aids %}{% set person = result.data.addresses[to_aid] %}
      <li class="thread-item-metadata-contact">
        <a href="{{ contact_url(person) }}" title="{{_("To")}}: {{ person.address }}"><img src="{{ show_avatar(person) }}"></a>
        <a href="{{ contact_url(person) }}" title="{{_("To")}}: {{ person.address }}">{{ contact_name(profiles, person) }}</a>
      </li>
      {% endfor %}
      {% else %}
      <li>{{_("No Recipients")}} :(</li>
      {% endif %}
    </ul>
    {% if metadata.cc_aids %}
    <ul class="clearfix">
      <li>{{_("Cc")}}:</li>
      {% for cc_aid in metadata.cc_aids %}{% set person = result.data.addresses[cc_aid] %}
      <li class="thread-item-metadata-contact">
        <a href="{{ contact_url(person) }}" title="{{_("Cc")}}: {{ person.address }}"><img src="{{ show_avatar(person) }}"></a>
        <a href="{{ contact_url(person) }}" title="{{_("Cc")}}: {{ person.address }}">{{ contact_name(profiles, person) }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if metadata.bcc_aids %}
    <ul class="clearfix">
      <li>{{_("Bcc:")}}:</li>
      {% for bcc_aid in metadata.bcc_aids %}{% set person = result.data.addresses[bcc_aid] %}
      <li class="thread-item-metadata-contact">
        <a href="{{ contact_url(person) }}" title="{{_("Bcc:")}}: {{ person.address }}"><img src="{{ show_avatar(person) }}"></a>
        <a href="{{ contact_url(person) }}" title="{{_("Bcc:")}}: {{ person.address }}">{{ contact_name(profiles, person) }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <ul class="clearfix">
      <li>Show:</li>
      <li><a href="/message/raw/={{ mid }}/as.text" target="_blank">{{_("Raw Source")}}</a></li>
    </ul>
  </div>
  {% set last_enc_context = message.crypto.encryption.context %}
  {% set last_sig_context = message.crypto.signature.context %}
  {% if not message.text_parts %}
    {% for part in message.html_parts %}
      {{part.data|replace("\\n", "\n")|safe}}
    {% endfor %}
  {% endif %}
  {% set special_text_parts = [] %}
  {% set last_part = message.text_parts|length - 1 %}
  {% for part in message.text_parts %}
    {# Parts that do not have own crypto attribute inherit from message itself
     # Watch for changes to the "context" which is present in each encryption and
     # signature section - if either has changed, then we have moved from
     # one security context to the next, and need to let the user know.
     #}
    {% if (part.data != "") %}
      {% if part.crypto %}
      <div class="thread-item-crypto clearfix">
        <div class="thread-item-crypto-info left" data-name="cats">
          {% if part.crypto.encryption %}
            {% if part.crypto.encryption.context != last_enc_context %}
            {% set last_enc_context = part.crypto.encryption.context %}
            <span class="icon {{ show_message_encryption(part.crypto.encryption.status) }}" title=""></span> <span class="text">{{_("Not Encrypted")}}</span>
            {% endif %}
          {% endif %}
          {% if part.crypto.signature %}
            {% if part.crypto.signature.context != last_sig_context %}
            {% set last_sig_context = part.crypto.signature.context %}
            <span class="icon {{ show_message_signature(part.crypto.signature.status) }}" title=""></span> <span class="text">{{_("No Signature")}}</span>
            {% endif %}
          {% endif %}
        </div>
        <div class="thread-item-crypto-line left"></div>
      </div>
      {% endif %}
      {% if part.type in ("text", "pgpsignedtext", "pgptext") %}
      <div class="thread-item-text">{{ part.data|nice_text|urlize }}</div>
      {% elif part.type == "quote" %}        
        {%- if message.text_parts|length - loop.index and message.text_parts[last_part].type == "signature" -%}
          {% do special_text_parts.append("quote") %}
          <div class="thread-item-quote hide">{{ part.data|nice_text|urlize }}</div>
        {% elif loop.index == message.text_parts|length %}
          {% do special_text_parts.append("quote") %}
          <div class="thread-item-quote hide">{{ part.data|nice_text|urlize }}</div>
        {% else %}
          <div class="thread-item-quote">{{ part.data|nice_text|urlize }}</div>        
        {%- endif -%}
      {% elif part.type == "signature" %}
        {% do special_text_parts.append("signature") %}
        <div class="thread-item-signature hide">{{ part.data|nice_text|urlize }}</div>
      {% else %}
        {{_("Unknown Text Part")}}
      {% endif %}
    {% endif %}
  {% endfor %}  
  {% if message.attachments %}
  <div class="thread-message-attachments">
    <ul class="thread-message-attachments horizontal clearfix">
      {% for att in message.attachments %}
      {% if att.mimetype in ('image/jpg', 'image/jpeg', 'image/png', 'image/gif') %}
      <li><a href="/message/download/={{ mid }}/part:{{ att.count }}/" type="{{ att.mimetype }}" title="{{ att.mimetype }} @ {{ att.length|friendly_bytes }}"><img src="/message/download/preview/={{ mid }}/part:{{ att.count }}/"></a></li>
      {% elif att.mimetype in ('application/pgp-keys') %}
      {% do special_text_parts.append("pgp-key") %}
      {% else %}
      <li><a href="/message/download/={{ mid }}/part:{{ att.count }}/" type="{{ att.mimetype }}" title="{{ att.mimetype }} @ {{ att.length|friendly_bytes }}">{{ att.filename }}<small>{{ att.length|friendly_bytes }}</small></a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="clearfix">
  <ul class="thread-message-actions horizontal left" data-mid="{{mid}}">
    {% if "quote" or "signature" in special_text_parts %}
    <li><a class="thread-message-actions-quote">&middot;&middot;&middot;&middot;</a></li>
    {% endif %}
    {% if "signature" in special_text_parts %}
    <li><a class="message-action-add-contact" href="#"><span class="icon-user"></span> {{_("Add Contact")}}</a></li>
    {% endif %}
    {% if "pgp-key" in special_text_parts %}
    <li><a class="message-action-import-key" href="#"><span class="icon-key"></span> {{_("Import Key")}}</a></li>
    {% endif %}
  </ul>  
  <ul class="thread-message-actions horizontal right" data-mid="{{mid}}">
    {% if show_reply == "true" %}
    <li><a class="message-action-reply" href="#"><span class="icon-reply"></span> {{_("Reply")}}</a></li>
    {% endif %}
    <li><a class="message-action-forward" href="#"><span class="icon-forward"></span> {{_("Forward")}}</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-move"></span> {{_("Move")}}</a>
      <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="thread-message-move">
        <li role="presentation"><a class="message-action-inbox" role="menuitem" tabindex="-1" href="#"><span class="icon-inbox"></span> {{_("Move to Inbox")}}</a></li>
        <li role="presentation"><a class="message-action-spam" role="menuitem" tabindex="-1" href="#"><span class="icon-spam"></span> {{_("Flag as Spam")}}</a></li>
        <li role="presentation"><a class="message-action-unthread" role="menuitem" tabindex="-1" href="#"><span class="icon-circle-x"></span> {{_("Remove from Thread")}}</a></li>
      </ul>
    </li>
    <li><a class="message-action-trash" href="#"><span class="icon-trash"></span> {{_("Trash")}}</a></li>
  </ul>
  </div>
</div>