<div class="thread-item-metadata clearfix">
  <div class="thread-item-from-avatar">
    <a href="{{ contact_url(from) }}" title="{{_("From")}}: {{ from.address }}"><img src="{{ show_avatar(from) }}"></a>
  </div>
  <div class="thread-item-from">
    <a href="{{ contact_url(from) }}" class="name" title="{{_("From")}}: {{ from.address}}">{{ contact_name(profiles, from) }}</a>
    <div class="thread-item-metadata-address">
      {{from.address}}
    </div>
  </div>
  <div class="thread-item-details">
    <a class="datetime" href="{{ metadata.urls.thread }}">{{ metadata.timestamp|friendly_datetime }} at {{ metadata.timestamp|friendly_time }}</a>
    {% set signature = show_message_signature(metadata.crypto.signature) %}
    {% set encryption = show_message_encryption(metadata.crypto.encryption) %}
    <span class="thread-item-crypto-info icon {{ signature.color + ' ' + signature.icon }}" title="{{ signature.text }}" data-crypto_color="{{ signature.color }}" data-crypto_icon="{{ signature.icon }}" data-crypto_message="{{ signature.message }}" data-expand="no"></span>
    <span class="thread-item-crypto-info icon {{ encryption.color + ' ' + encryption.icon }}" title="{{ encryption.text }}" data-crypto_color="{{ encryption.color }}" data-crypto_icon="{{ encryption.icon }}" data-crypto_message="{{ encryption.message }}" data-expand="no"></span>
    <span class="show-thread-message-metadata-details icon icon-circle-info" data-mid="{{mid}}"></span>
<!--    <span class="feedback-expand"><span class="icon-expand"></span> {{_("Expand Message")}}</span>-->
  </div>
</div>