{%- set activities = [{
    'name': 'tag_list',
    'url': '/tags/',
    'text': _("Tags"),
    'description': _("View all tags"),
    'icon': 'tag'
},{
    'name': 'tag_add',
    'url': '#tag-add',
    'text': _("Add Tag"),
    'description': _("Create a new tag"),
    'icon': 'plus'
}] -%}
{%- include('partials/tools_default.html') -%}


{#- ####### OLD STUFF #######
<!--
<nav class="sub-navigation clearfix">
	<ul class="left horizontal">
    <li {% if command in ("tags", "tag/list") %} class="navigation-on" {% endif %}><a id="button-tag-list" href="/tags/"><span class="navigation-icon icon-tag"></span><span class="navigation-text">{{_("Tags")}}</span></a></li>
    <li {% if command == "tag/add" %} class="navigation-on" {% endif %}><a id="button-tag-add" href="#tag-add"><span class="navigation-icon icon-plus"></span><span class="navigation-text">{{_("Add Tag")}}</span></a></li>
  </ul>
</nav>
-->
<!-- 
<div class="bulk-actions clearfix">
	<div class="left">
	  <b><span id="bulk-actions-selected-count"></span> {{_("Tags")}}</b> {{_("selected")}}
  </div>
  <ul class="horizontal right">
  </ul>
</div>
-->
-#}
