<div id="thread-title" class="sub-navigation clearfix">
  <h1>{{ result.data.metadata[result.thread_ids[-1]].subject }}</h1>
  <ul class="horizontal">
    <li><a class="show-thread-people" href="#"><span class="icon-user"></span> {{ result.data.addresses|length }} {{_("People")}}</a></li>
    <li><a class="show-thread-security" href="#"><span class="icon-lock-open"></span> Partially Secure</a></li>
  </ul>
</div>
<div class="bulk-actions clearfix">
  <div class="left">{{ result.data.metadata|length }} {{_("Messages")}}</div>
  <ul class="horizontal right">
<!-- FIXME
	  <li><a class="bulk-action" href="#" data-action="later" title="{{_("Move Whole Thread to Later")}}"><span class="icon-later"></span></a></li>
-->
	  <li><a class="bulk-action" href="#" data-action="assign-tags" title="{{_("Assign Tags to Thread")}}"><span class="icon icon-tag"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="archive" title="{{_("Archive Whole Thread")}}"><span class="icon icon-archive"></span></a></li>
	  <li><a class="bulk-action" href="#" data-action="trash" title="{{_("Delete Whole Thread")}}"><span class="icon icon-trash"></span></a></li>
  </ul>  
</div>