/* #Forms
================================================== */

	form { margin-bottom: 20px; }
	fieldset { margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="address"],
	textarea,
	select {
		padding: 10px 12px;
		outline: none;
		font-size: @form-elements-font-size;
		font-family: @form-elements-font-family;
		color: @form-elements-color;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-top: 0px;
		margin-bottom: 20px;
		background: @form-elements-background;
		-moz-border-radius: @form-border-radius;
		-webkit-border-radius: @form-border-radius;
		border-radius: @form-border-radius;
		border: @form-border-size solid @form-border-color;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;        
	}
	
	select { padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: @form-border-size solid @form-border-color-focus;
		color: @form-elements-color-focus;
 		-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
		box-shadow:  0 0 5px rgba(0,0,0,.2);
	}

	textarea { min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: normal;
		font-size: 16px;
		font-style: italic;
		margin-bottom: 5px;
	}

	select {
		color: @form-select-color;
		width: 220px;
	}

	input[type="checkbox"] {
		display: inline;
	}

	label span,
	legend span {
		font-weight: normal;
		font-size: 14px;
		color: #444;
	}

	a {
		font-style: normal;
	}

	label span.form_error {
		margin: 0 0 0 3px;
		color: @form-label-color;
	}
