/* #Links
================================================== */

	a, a:visited { font-size: @link-font-size; color: @link-color; font-weight: @link-font-wieght; text-decoration: @link-decoration; outline: 0; }
	a:hover, a:focus { color: @link-color-hover; text-decoration: @link-decoration-hover; }
	p a, p a:visited { line-height: inherit; }