/* Navigation */

	#navigation 					{ background: @navigation-background; z-index: 10; color: @navigation-text; }
	#navigation a					{ color: @navigation-text; text-decoration: none; }
	#navigation a:hover 			{ color: @navigation-text-hover; }
	#navigation span.name_ome		{ color: #818181; }
	#navigation_logo 				{ display: none; }
	

/* Navigation Sub */

	.navigation-sub	{ 
		background: @navigation-sub-background;
		border-radius: 10px;
	}