<div class="modal-dialog">
 <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close button-info" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><span class="icon-key"></span> {{_("Send Encryption Keys")}}</h4>
  </div>
  <div class="modal-body clearfix">
    <ul id="crypto-private-key-list" class="items grouped"></ul>
  </div>
  <div class="modal-footer">
    <button class="button-primary" title="{{_("Add")}}" alt="{{_("Add")}}" data-action="add">
      <span class="icon-sent"></span> {{_("Send Selected Keys")}}
    </button>
  </div>
 </div>
</div>
