Source: mailpile
Maintainer: Mailpile <team@mailpile.is>
Section: mail
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), python (>= 2.7), python-lxml (>= 2.3.2), python-imaging (>= 1.1.7), python-jinja2, node-less, python-setuptools, python-nose
X-Python-Version: >= 2.6

Package: mailpile
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-lxml (>= 2.3.2), python-imaging (>= 1.1.7), python-jinja2, spambayes (= 1.1b)
Recommends: gnupg
Homepage: http://www.mailpile.is
Description: Local mail container with a web-mail interface, and encryption.
