# ------------------------------------------------------------------------- #
# DEBIAN PACKAGE CONTROL FILE                                               #
#                                                                           #
# This file is a Debian control file. For more information on the config in #
# this file, please run `man deb-control`.                                  #
# ------------------------------------------------------------------------- #

Source: mailpile
Section: mail
Priority: extra
Maintainer: Bjarni R Einarrson <bre@mailpile.is>
Build-Depends: debhelper (>= 9), python, python-setuptools, dh-virtualenv (>> 0.6), tar, python-dev, libxml2-dev, libxslt-dev, libz-dev
Standards-Version: 3.9.5
Homepage: https://www.mailpile.is

Package: mailpile
Architecture: any
Depends: gnupg, openssl
Pre-Depends: dpkg (>= 1.16.1), python
Description: Mailpile: email that protects your privacy
