#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.

# Increase trace logging, see debhelper(7) (uncomment to enable)
# DH_VERBOSE=1

override_dh_auto_test:
	echo "SKIPPING TESTS"

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
	    --python /usr/bin/python \
	    --setuptools \
	    --preinstall pip==6.1.1 \
	    --preinstall setuptools==17.1.1 \
	    --preinstall wheel==0.24.0 \
	    # Override the test pack running (uncomment to enable)
	    # --no-test

override_dh_builddeb:
	dh_builddeb --destdir=${DESTINATION_DPKG_DIR}
