{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_compose.html") %}


<div id="compose">
  {% for m in result.0.messages %}
  <form id="form-compose" name="compose" action="/" method="POST">

  	<div class="compose-section compose-headers">
		  <label>To:</label> <input id="compose-to" name="recipients-to" type="text" value="{{ m.message.editing_strings.to|e }}">
	  </div>
  	<div class="compose-section compose-headers">
		  <label>Cc:</label> <input id="compose-cc" name="recipients-cc" type="text" value="{{ m.message.editing_strings.cc|e }}">
	  </div>
  	<div class="compose-section compose-headers">
		  <label>Bcc:</label> <input id="compose-bcc" name="recipients-bcc" type="text" value="{{ m.message.editing_strings.bcc|e }}">
	  </div>
  	<div class="compose-section compose-headers">
		  <label>Subject:</label> <input name="subject" type="text" value="{{ m.message.editing_strings.subject }}">
	  </div>
  	<div class="compose-section compose-message">
  	  <textarea name="message">{{ m.message.editing_strings.body }}</textarea>
	  </div>
	  <div class="compose-section compose-attachments">
		  <span class="icon-attachment"></span> No Attachments
		  <input type="file" name="add-attachment">
	  </div>
  	<div class="compose-buttons">
      <button type="submit"><span class="icon-sent"></span> Send</button>
      <button type="submit"><span class="icon-compose"></span> Save</button>
	  </div>

  </form>
  {% endfor %}
</div>

{% endblock %}
