{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_compose.html") %}

{% if result %}
{% set my_from = mailpile('config/get', 'my_from').result.my_from %}
<div id="compose">

  {% for m in result.0.messages %}
  {% if m.message %}{% if m.message.editing_strings %}
    <form id="form-compose" name="compose" action="/message/update/"
          method="POST" enctype="multipart/form-data">
        <input type="hidden" name="mid" value="{{ m.mid }}">
        <div class="compose-section compose-headers">
            <label>From:</label>
            <select id="compose-from" name="from">
              <option value="{{ m.message.editing_strings.from|e }}" selected>{{ m.message.editing_strings.from|e }}</option>
              <option value="{{ m.message.editing_strings.from|e }}"> - - - </option>
              {% for m in my_from %}
              <option value="{{ my_from[m]|e }} &lt;{{ m|e }}&gt;">{{ my_from[m]|e }} &lt;{{ m|e }}&gt;</option>
              {% endfor %}
            </select>
        </div>
        <div class="compose-section compose-headers">
            <label>To:</label>
            <input id="compose-to" name="to" type="text" value="{{ m.message.editing_strings.to|e }}">
        </div>
        <div class="compose-section compose-headers">
            <label>Cc:</label>
            <input id="compose-cc" name="cc" type="text" value="{{ m.message.editing_strings.cc|e }}">
        </div>
        <div class="compose-section compose-headers">
            <label>Bcc:</label>
            <input id="compose-bcc" name="bcc" type="text" value="{{ m.message.editing_strings.bcc|e }}">
        </div>
        <div class="compose-section compose-headers">
            <label>Subject:</label>
            <input id="compose-subject" name="subject" type="text" value="{{ m.message.editing_strings.subject }}">
        </div>
        <div class="compose-section compose-message">
            <textarea id="compose-body" name="body">{{ m.message.editing_strings.body }}</textarea>
        </div>
        <div class="compose-section compose-attachments">
            <span class="icon-attachment"></span> No Attachments
            <input type="file" name="file-data">
            <ul id="compose-attachments-list"></ul>
        </div>
        <div class="compose-buttons">
            <button class="compose-action" type="submit" name="send" value="send"><span class="icon-sent"></span> Send</button>
            <button class="compose-action" type="submit" name="save" value="save"><span class="icon-compose"></span> Save</button>
        </div>
    </form>
  {% else %}
    {{ mailpile('http/redirect/url_thread', m.mid) }}
  {% endif %}{% endif %}{% endfor %}
</div>
{% else %}

  <h1>Message not found!</h1>

{% endif %}
{% endblock %}
