{% extends "layouts/base.html" %}
{% block content %}

{% if result %}
{% set profiles = mailpile('settings', 'profiles').result.profiles %}

<div id="compose">
 {% for mid in result.threads %}{%
     set message = result.data.message.get(mid) %}{%
     set metadata = result.data.metadata[mid] %}{%
     if message and message.editing_strings %}
  <form id="form-compose" name="compose" action="/message/update/" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="mid" value="{{mid}}">
    <div class="compose-headers compose-to">
        <label>{{_("To")}}</label>
        <input id="compose-to" name="to" type="text" tabindex="1" value="{{message.editing_strings.to|e}}">
    </div>
    <div id="compose-cc-html" class="compose-headers compose-cc">
      <label>{{_("Cc")}}</label>
      <input id="compose-cc" name="cc" type="text" value="{{message.editing_strings.cc|e}}">
    </div>
    <div id="compose-bcc-html" class="compose-headers compose-bcc">
      <label>{{_("Bcc")}}</label>
      <input id="compose-bcc" name="bcc" type="text"  value="{{message.editing_strings.bcc|e}}">
    </div>
    <div class="compose-headers compose-from">
      <div class="compose-cell">
        <label>{{_("From")}}</label>
        <select id="compose-from" tabindex="2" name="from">
          <option value="{{message.editing_strings.from|e}}" selected>{{message.editing_strings.from|e}}</option>
          <option value="{{message.editing_strings.from|e}}"> - - - </option>
          {% for p in profiles %}
          <option value="{{p.name|e}} &lt;{{p.email|e}}&gt;">{{p.name|e}} &lt;{{p.email|e}}&gt;</option>
          {% endfor %}
        </select>
      </div>
      <div class="compose-cell">
        <a class="compose-show-field" href="#">{{_("Bcc")}}</a>
        <a class="compose-show-field" href="#">{{_("Cc")}}</a>
      </div>
    </div>        
    <div class="compose-headers compose-subject">
      <div class="compose-cell">
        <input id="compose-subject" name="subject" tabindex="3" type="text" placeholder="{{_("Subject")}}" value="{{message.editing_strings.subject}}">
      </div>
      <div class="compose-cell animated">
        <span class="message-privacy-state icon-unencrypted" title="This message is not encrypted"></span>
      </div>
    </div>
    <div class="compose-message">
      <textarea id="compose-body" tabindex="4" name="body" placeholder="{{_("Your message...")}}">{{message.editing_strings.body}}</textarea>
    </div>
    <div class="compose-attachments">
      <span class="icon-attachment"></span> {{_("No Attachments")}}
      <input type="file" name="file-data">
      <ul id="compose-attachments-list"></ul>
    </div>
    <div class="content-normal">
      <button class="compose-action" type="submit" name="send" value="send"><span class="icon-sent"></span> {{_("Send")}}</button>
      <button class="compose-action" type="submit" name="save" value="save"><span class="icon-compose"></span> {{_("Save")}}</button>
    </div>
  </form>
  {% else %}
    {{mailpile('http/redirect/url_thread', m.mid)}}
  {% endif %}{% endfor %}
</div>
{% else %}

  <h1>{{_("Message not found!")}}</h1>

{% endif %}
{% endblock %}
