{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_view.html") %}

{% if result %}
<table class="pile-results" id="pile-results">
  <tbody>
    {% for message in result.messages %}
    {% if message.message %}
    {% if not message.editing_string %}
		<tr>
      <td class="message-body" colspan="4">
      <div class="message-headers">
        <ul>
          <li><b>Date:</b> {{message.friendly_date}} at {{message.shorttime}}</li>
          <li><b>From:</b> {{message.from|e}}</li>
          <li><b>To:</b> {% for toaddr in message.to %}<a class="message-email-address" href="/contact/{{toaddr}}/">{{toaddr}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
          {% if message.cc %}
          <li><b>Cc:</b> {% for ccaddr in message.cc %}<a class="message-email-address" href="/contact/{{ccaddr}}/">{{ccaddr}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
          {% endif %}
          {% if message.bcc %}
          <li><b>Bcc:</b> {% for bccaddr in message.bcc %}<a class="message-email-address" href="/contact/{{bccaddr}}/">{{bccaddr}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
          {% endif %}
          <li><b>Subject:</b> {{message.subject}}</li>
        </ul>
      </div>
      <div class="message-body">      
      {% if message.message.html_parts %}
      {% for part in message.message.html_parts %}
         <p class="html-part-{type}">{{part.data|safe}}</p>
      {% endfor %}
      {% else %}
      {% for part in message.message.text_parts %}
         <p class="text-part-{type}">{{part.data|replace("\n", "<br/>")}}</p>
       {% endfor %}
      {% endif %}
      </div>
      <div class="message-attachments">
      <ul>
         {% for att in message.message.attachments %}
         <li><a href="./att:{{att.count}}" type="{{att.mimetype}}">{{att.filename}}</a>({{att.mimetype}} {{att.length}} bytes)</li>
         {% endfor %}
      </ul>
      </div>
      <div class="message-actions">
        <form action="/message/reply/={{message.mid}}/" method=POST>
          <button type="submit"><span class="icon-reply"></span> Reply</button>
        </form>
        <form action="/message/forward/={{message.mid}}/" method=POST>
          <button type="submit"><span class="icon-forward"></span> Forward</button>
        </form>
        <form action="/message/archive/={{message.mid}}/" method=POST>
          <button type="submit"><span class="icon-archive"></span> Archive</button>
        </form>
        <form action="/message/reply/={{message.mid}}/" method=POST>
          <button type="submit"><span class="icon-trash"></span> Delete</button>
        </form>
      </div>
      </td>
    </tr>
    {% endif %}
    {% else %}
      {% include("partials/search_item.html") %}
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% include("partials/details_search_speed.html") %}
{% else %}
{% set error_title = "message_missing" %}
{% include("partials/errors_content.html") %}
{% endif %}
{% endblock %}
