{% extends "layouts/base.html" %}
{% block content %}

{% if result %}
{% set start_mid     = result.thread_ids[-1] %}
{% set start_subject = result.data.metadata[start_mid].subject %}
{% set profiles      = mailpile('settings', 'profiles').result.profiles %}
{# 
    UGLY HACK  showed_composer = [] 
    we are setting a list called showed_composer 
    to keep track of MIDs so we know when to show the Composer
    with partially compose draft inside OR load Composer with
    new ephermal draft
#}
{% set showed_composer = [] %}
{% for mid in result.thread_ids|reverse %}

  {% set metadata = result.data.metadata[mid] %}
  {% set message  = result.data.messages[mid] %}

  {# Determine Is A Message #}
  {% if mid in result.data.messages %}

    {# Show: Composer #}
    {% if "editing_string" in message %}

      {% set editing_strings = message.editing_strings %}
      {% include("partials/compose.html") %}

    {# Show: Message and Composer #}
    {% else %}

      {# Show : Message #}
      {# FIXME: make subject line show differing subjects {{ metadata.subject|e }} #}

      {% include("partials/thread_message.html") %}

      {# Check If Not Replied #}
      {% if metadata.flags.replied != true %}

        {# Check If Has Not Showed Composer #}
        {% if not showed_composer %}
          {% do showed_composer.append(mid) %}

          {% set compose = mailpile('message/reply', 'all', 'ephemeral', '='+mid).result %}
          {% if compose %}
            {% set mid = compose.message_ids.0 %}
            {% set editing_strings = compose.data.messages[mid].editing_strings %}
            {% include("partials/compose.html") %}
          {% else %}
            {{_("Could Not Render Composer")}}
          {% endif %}

        {% endif %}{# End Not Showed Composer #}

      {% endif %}{# End Is Not Replied #}

    {% endif %}{# End Message / Reply #}

  {# Is Message & Draft #}
  {% elif metadata.flags.draft == true %}

      {% if not showed_composer %}

        {% do showed_composer.append(mid) %}
        {% set compose = mailpile('message/draft', '='+mid).result %}
        {% if compose %}
        {% set editing_strings = compose.data.messages[compose.message_ids.0].editing_strings %}
        {% include("partials/compose.html") %}
        {% else %}
        {{_("Could Not Render Composer")}}
        {% endif%}

      {% endif %}

  {% else %}{# Show snippet #}
  <div class="thread-snippet" id="snippet-{{ mid }}" data-mid="{{ mid }}">
    {% set from = result.data.addresses[metadata.from.aid] %}
    {% include("partials/thread_metadata.html") %}
    <div class="thread-item-text">{{ metadata.body.snippet }}</div>
  </div>
  {% endif %}{# End if mid #}

{% endfor %}{# End for loop #}

  <div id="thread-people">
    <h3>{{_("People in Conversation")}}</h3>
    <ul>
      {% for aid in result.data.addresses %}
      {% set person = result.data.addresses[aid] %}
      <li>
        <a href="{{ contact_url(person) }}"><img src="{{ show_avatar(person) }}"></a>
        <a href="{{ contact_url(person) }}"> {{person.fn}}</a>
        <a href=""><span class="icon-compose"></span> {{person.address}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

{% else %}{# No Result, Show Error #}
  {% set error_title = "message_missing" %}
  {% include("partials/errors_content.html") %}
{% endif  %}{# if result #}
{% endblock %}

{% block title %}{{ result.data.metadata[result.thread_ids[-1]].subject }}{% endblock %}