<!-- Setup - Identity - Passphrase -->
<script id="template-setup-passphrase" type="text/template">
  <div class="setup-box setup-box-medium animated bounceInUp">
    <div id="identity-vault-lock" class="vault-lock-outer">
      <div class="vault-lock-inner">
        <div class="vault-lock icon-lock-closed animated"></div>
      </div>
    </div>
    <form id="form-setup-passphrase" class="standard text-center">

      {% set setup_crypto = mailpile("setup/crypto") %}
      {% if setup_crypto.result.secret_keys|length == 0 %}

      <h3 class="add-top text-center">Create Your Passphrase</h3>

      <div id="setup-passphrase-new-keys">

        <p>We will create a key for you, you lucky person you!</p>
  
        <input name="choose_key" value="!CREATE" type="hidden">
  
       <p class="text-center">
          Your passphrase should be something really hard to guess but memorable<br>
          This passphrase will be used to decrypt and unlock your Mailpile and your encryption keys
        </p>
      
        <input id="data-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

        <label>Confirm by Entering Passphrase Again</label>
        <input id="data-setup-passphrase-confirm" class="input-medium center" type="password" name="passphrase-confirm" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

        <span class="text-detail">We will be creating a new 4096 bit RSA key</span>

      </div>

      {% elif setup_crypto.result.secret_keys|length == 1 %}

      <h3 class="add-top text-center">Your Security Passphrase</h3>

      <div id="setup-passphrase-has-keys">
        <input id="data-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">
      </div>
      
      {% elif setup_crypto.result.secret_keys|length > 1 %}

      <h3 class="add-top text-center">Your Security Passphrase</h3>

      <div id="setup-passphrase-has-keys">
        Select one of the <strong>{{setup_crypto.result.secret_keys|length}} Private Encryption Keys</strong> we found, and enter the passphrase
        <ul>
        {% for key in setup_crypto.result.secret_keys %}
          {% set key_info = setup_crypto.result.secret_keys[key] %}
          {% if key_info.capabilities_map.0.encrypt and key_info.capabilities_map.0.sign and not key_info.disabled %}
          <li>
          <label class="setup-key-info">
            <input name="choose_key" value="{{ key }}" type="radio" {% if key == result.chosen_key %}checked{% endif %}>
            {{ key_info.keytype_name }} key {{ key }}, {{ key_info.keysize }} bits, created on {{ key_info.creation_date }}
            {% if key_info.expiration_date %}
            (expires {{ key_info.expiration_date }})
            {% endif %}
          </label>
          </li>
          {% endif %}
        {% endfor %}
        </ul>

        <input id="data-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

      </div>

      {% endif %}

      <button id="btn-setup-passphrase" type="submit" class="text-center button-primary">{{_("Next")}}</button>
    </form>
  </div>
</script>


<!--  Setup - Identity - Profiles -->
<script id="template-setup-profiles" type="text/template">
  <div class="setup-box setup-box-medium animated bounceInUp">
    <h2 class="text-center"><span class="icon-profiles"></span> Profiles</h2>
    <p class="text-center">A profile is the context of how you use an email address. You can have as many profiles as you'd like, some examples profiles: Personal, Work, Newsletters, etc...</p>
    <p class="text-detail text-center">You currently have <strong>5 active</strong> and <strong>2 inactive</strong> profiles!</p>
    <ul id="setup-profile-list">
      <li class="setup-profile clearfix">
        <span class="avatar"><img src="/static/img/avatar-default.png"></span>
        <span class="name">Brennan Novak</span>
        <span class="email">hi@brennannovak.com</span>
        <span class="fingerprint">01AE EADB 9EED 1B5B 4280 E5B6</span>
        <a href="#" class="setup-profile-disable"><span class="icon-minus"></span> Disable</a>
      </li>
    </ul>
    <form id="form-setup-basic-info" class="standard">
      <h3>Add Profile</h3>
      <table class="full-width-table">
      <tr>
        <td>
          <label>{{_("Profile Name")}}</label>
          <input type="text" name="name" autocorrect="off" autocapitalize="off" class="center" placeholder="Chelsea Manning">
        </td>
        <td>
          <label>{{_("Email")}}</label>
          <input type="email" name="email" autocorrect="off" autocapitalize="off" class="center" placeholder="chelsea@manning.org">
        </td>
      </tr>
      <tr>
        <td>
          <label>{{_("Password")}}</label>
          <input id="" type="password" name="password" autocorrect="off" autocapitalize="off" class="center" placeholder="password">
        </td>
        <td>
          <label>Server</label>
        <input type="text" name="server" autocorrect="off" autocapitalize="off" class="center" placeholder="imap.freeserver.org">
        </td>
      </tr>
      </table>
      <button id="btn-setup-basic-info" type="submit" class="text-center button-primary"><span class="icon-plus"></span> {{_("Save Profile")}}</button>
    </form>
  </div>
</script>


<!-- Setup - Identity - Crypto generated key -->
<script id="template-setup-crypto-generated" type="text/template">
  <div id="setup-box-crypto-generated" class="setup-box setup-box-small animated bounceInRight text-center">
    <h1 class="text-center"><span class="icon-key"></span></h1>
    <h3 class="text-center">{{_("Encryption Key Generated")}}</h3>
    <p>{{_("This is your key's unique fingerprint. Fingerprints are used to verify encryption keys. You can learn more about this later.")}}</p>
    <h1><span class="icon-fingerprint"></span></h1> <%= fingerprint %>
    <p><a href="#" class="link-details">{{_("View Encryption Key Details")}}</a></p>
    <div class="text-center">
      <a href="#source-settings" id="btn-setup-crypto-next" class="button-primary">{{_("Next")}}</a><br>
    </div>
  </div>
</script>

