<!-- Setup - Identity - Passphrase -->
<script id="template-setup-passphrase" type="text/template">
  <div class="setup-box setup-box-medium animated bounceInUp">
    <div id="identity-vault-lock" class="vault-lock-outer">
      <div class="vault-lock-inner">
        <div class="vault-lock icon-lock-closed animated"></div>
      </div>
    </div>
    <form method="POST" action="/setup/crypto/" id="form-setup-passphrase" class="standard text-center">

      {% set setup_crypto = mailpile("setup/crypto") %}
      {% if setup_crypto.result.secret_keys|length == 0 %}
      <h3 class="add-top text-center">Create Your Passphrase</h3>
      <div id="setup-passphrase-new-keys">

        <p class="text-center">
          Your passphrase should be something really hard to guess but memorable<br>
          This passphrase will be used to unlock your Mailpile and for your encryption keys
        </p>

        <span id="error-setup-passphrase" class="validation-error validation-message"></span>
        <input id="input-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

        <label>Confirm Your Passphrase</label>
        <span id="error-setup-passphrase_confirm" class="validation-error validation-message"></span>
        <input id="input-setup-passphrase_confirm" class="input-medium center" type="password" name="passphrase_confirm" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

        <input name="choose_key" value="!CREATE" type="hidden">

      </div>

      {% elif setup_crypto.result.secret_keys|length == 1 %}

      <h3 class="add-top text-center">Your Security Passphrase</h3>

      <div id="setup-passphrase-has-keys">
        <input id="data-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">
        <span id="error-setup-passphrase"></span>
      </div>
      
      {% elif setup_crypto.result.secret_keys|length > 1 %}

      <h3 class="add-top text-center">Your Security Passphrase</h3>

      <div id="setup-passphrase-has-keys">
        Select one of the <strong>{{setup_crypto.result.secret_keys|length}} Private Encryption Keys</strong> we found, and enter the passphrase
        <ul>
        {% for key in setup_crypto.result.secret_keys %}
          {% set key_info = setup_crypto.result.secret_keys[key] %}
          {% if key_info.capabilities_map.0.encrypt and key_info.capabilities_map.0.sign and not key_info.disabled %}
          <li>
          <label class="setup-key-info">
            <input name="choose_key" value="{{ key }}" type="radio" {% if key == setup_crypto.result.chosen_key %}checked{% endif %}>
            {{ key_info.keytype_name }} key {{ key }}, {{ key_info.keysize }} bits, created on {{ key_info.creation_date }}
            {% if key_info.expiration_date %}
            (expires {{ key_info.expiration_date }})
            {% endif %}
          </label>
          </li>
          {% endif %}
        {% endfor %}
        </ul>

        <span id="error-setup-passphrase" class="validation-error validation-message"></span>
        <input id="data-setup-passphrase" class="input-medium center" type="password" name="passphrase" autocorrect="off" autocapitalize="off" class="center" placeholder="top secret super duper passphrase">

      </div>

      {% endif %}

      <button id="btn-setup-passphrase" type="submit" class="text-center button-primary">{{_("Next")}}</button>

    </form>
  </div>
</script>


<!--  Setup - Identity - Profiles -->
<script id="template-setup-profiles" type="text/template">
  {% set setup_profiles = mailpile("setup/profiles") %}
  <div class="setup-box setup-box-medium animated bounceInUp">
    <h2 class="text-center"><span class="icon-profiles"></span> Profiles</h2>
    {% if setup_profiles.result.profiles %}
    <p class="text-detail text-center">You currently have <strong>{{ setup_profiles.result.profiles|length }} profiles</strong> that you can send messages from</p>
    <ul id="setup-profile-list">
      {% for email in setup_profiles.result.profiles|sort %}
      {% set profile = setup_profiles.result.profiles[email] %}
      <li class="setup-profile" data-profile_id="{{ profile.rid }}">
        <div class="clearfix">
          <span class="avatar"><img src="/static/img/avatar-default.png"></span>
          <span class="name">{{ profile.name }}</span>
          <span class="email">{{ email }}</span>
          {% if profile.pgp_keys %}
          <span class="icon-lock-closed"></span>
          {% endif %}
          {% if email != setup_profiles.result.default_email %}
          <a href="#" data-profile_id="{{ profile.rid }}" class="setup-profile-remove right"><span class="icon-circle-x"></span> Remove</a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="text-center">
      <button id="btn-setup-show-add-profile" class="center"><span class="icon-plus"></span> Add Profile</button>
    </div>
    {% else %}{# Has no profiles #}
    <p class="text-center">A profile is the context of how you use an email address. You can have as many profiles as you'd like, some examples profiles: Personal, Work, Newsletters, etc...</p>
    {% endif %}
    <form id="form-setup-profile-add" class="standard {% if setup_profiles.result.profiles %}hide{% endif %}">
    <h3>Add Profile</h3>
    <table class="full-width-table">
    <tr>
      <td>
        <label>{{_("Name")}} <span id="error-setup-name" class="validation-error validation-message"></span></label>
        <input type="text" name="name" autocorrect="off" autocapitalize="off" placeholder="Chelsea Manning">
      </td>
      <td>
        <label>{{_("Note")}} <span id="error-setup-note" class="validation-error validation-message"></span></label>
        <input type="text" name="note" autocorrect="off" autocapitalize="off" placeholder="Personal, Work">
      </td>
    </tr>
    <tr>
      <td>
        <label>{{_("Email")}} <span id="error-setup-email" class="validation-error validation-message"></span></label>
        <input type="email" name="email" autocorrect="off" autocapitalize="off" placeholder="chelsea@manning.org">
      </td>
      <td>
        <label>{{_("Password")}} <span id="error-setup-password" class="validation-error validation-message"></span></label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button id="btn-setup-add-profile" type="submit" class="text-center button-primary">
          <span class="icon-plus"></span> {{_("Save Profile")}}
        </button> &nbsp;&nbsp;
        <button id="btn-setup-cancel-add-profile" class="button-secondary {% if not setup_profiles.result.profiles %}hide{% endif %}">
          Cancel
        </button>
      </td>
    </tr>
    </table>
    </form>
  </div>
</script>
