{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_tags.html") %}

<div id="tags-list" class="clearfix">

  {% for tag in user_tags.result.tags %}
  <div class="tag-card" id="tag-card-{{tag.tid}}" data-count_not_tagged="{{tag.not}}">
    <span class="tag-card-name">{{tag.name}}</span>
    <div class="tag-card-numbers">
      <div class="tag-card-stat">      
        <span class="tag-card-label">Total</span>
        <span class="tag-card-stat-count">{{tag.all}}</span>
      </div>
      <div class="tag-card-stat">
        {% if tag.new > 0 %}
        <span class="tag-card-label">New</span>
        <span class="tag-card-stat-count">{{tag.new}}</span>
        {% endif %}
      </div>
    </div>
    <a class="tag-card-message-link" href="{{tag.url}}">View Messages</a>
  </div>
  {% endfor %}

</div>

<script type="text/template" id="template-tag-add">
  {% include("tag/add.html") %}
</script>

{% endblock %}