{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_tags.html") %}

<div id="tags-list" class="clearfix">
  {% for tag in result.tags %}
  {% if tag.display == "tag" %}
  <div class="tag-card" id="tag-card-{{tag.tid}}" data-count_not_tagged="{{tag.stats.not}}">
    <a class="tag-card-name" href="{{tag.url}}">{{tag.name}}</a>
    <div class="tag-card-numbers">
      <div class="tag-card-stat">
        <span class="tag-card-label">{{_("Total")}}</span>
        <span class="tag-card-stat-count">{{tag.stats.all}}</span>
      </div>
      <div class="tag-card-stat">
        {% if tag.stats.new > 0 %}
        <span class="tag-card-label">{{_("New")}}</span>
        <span class="tag-card-stat-count">{{tag.stats.new}}</span>
        {% endif %}
      </div>
      <div class="tag-card-view">
        <span class="tag-card-label">{{_("View")}}</span>
        <span class="icon-list"></span>
      </div>
    </div>
    <a class="tag-card-message-link" href="{{tag.url}}"><span class="icon-inbox"></span> {{_("View Messages")}}</a>
    <a href="/tag/{{tag.slug}}/"><span class="icon-settings"></span> {{_("Settings")}}</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div id="tags-archived-list" class="clearfix">
  <h3 class="text-center">{{_("Archived")}}</h3>
  <hr>
  {% for tag in result.tags %}
  {% if tag.display == "archive" %}
  <div class="tag-card" id="tag-card-{{tag.tid}}" data-count_not_tagged="{{tag.stats.not}}">
    {{tag.name}}
  </div>
  {% endif %}
  {% endfor %}
</div>

{% include("tag/add.html") %}

{% endblock %}
