{% extends "layouts/base.html" %}
{% block content %}

<div id="contact-add" class="content-normal">

{% include("partials/contact_add.html") %}
{% endblock %}

{#
  <form id="form-contact-details" class="standard" method="POST" onsubmit="">
    <label>{{_("Website")}}</label>
    <input type="text" name="@contactwebsite" value="" placeholder="http://website.com">

    <label>{{_("Phone")}}</label>
    <input type="text" name="@contactphone" value="" placeholder="+1 211 333 44555">


    <label>{{_("PGP Key")}}</label>
    <textarea name="@pgpkey" placeholder="-----BEGIN PGP PUBLIC KEY BLOCK-----4rcoQYTGVltTC4gTItr2YrFoWRe0sSIrOregxwfKHvu5bIL9lp58zoAOCcoeKonbBCOda6RckZsKRpZ1E49agxZbSMSFk3cpkcCw5/mI10ze4tQbvPw..."></textarea>

    <button type="submit"><span class="icon-plus"></span> {{_("Update contact")}}</button>
  </form>
#}
</div>