{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_contacts.html") %}

<div id="contacts-view" class="content-normal">
  
{% if result.contact %}

  <div class="clearfix">
    {% if result.contact.photo %}<img class="left" width="80" src="{{ result.contact.photo.0.photo}}">{% elif contact.email %}<img src="{{ show_avatar(url_protocol, http_host, result.contact.email.0.email, 80) }}">{% endif %}</a>
    <h2 class="left">{{ result.contact.fn }}</h2>
  </div>
  <hr>
 
  <h4>Emails</h4>
  <ul>
  {% if result.contact.email %}
    {% for email in result.contact.email %}
    <li><a class="compose-to-email" href="/contact/{{ email.email|e }}">{{email.email}}</a></li>
    {% endfor %}
  {% endif %}
  </ul>

{% else %}


{% endif %}

</div>

{% endblock %}