{% extends "layouts/base.html" %}

{% block content %}
{% include("partials/sub_nav_contacts.html") %}

<style type="text/css">
  
  #contacts-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
</style>


<div id="contacts-list" class="clearfix">
{% if result.contacts %}
  {% for contact in result.contacts %}
  <div class="boxy">
    <div class="boxy-inner">
  		<div class="clearfix">
        <a class="contact-avatar" href="/contact/{{ contact.email.0.email }}/">{% if contact.photo %}<img width=50 src="{{contact.photo.0.photo}}">{% elif contact.email %}<img src="{{ show_avatar(url_protocol, http_host, contact.email.0.email, 50) }}">{% endif %}</a>
  		  <a class="contact-name" href="/contact/{{ contact.email.0.email }}/">{{ contact.fn }}</a>
  		</div>
  		<b>E-mails:</b>
  		<ul>
  			{% if contact.email %}
  				{% for email in contact.email %}
	  			<li><a href="/contact/{{ email.email|e }}">{{email.email}}</a></li>
	  			{% endfor %}
  			{% endif %}
  		{% if contact.key %}<span class="icon-verified"></span> PGP{% endif %}
  		</ul>
    </div>
  </div>
  {% endfor %}
  <div id="pile-bottom" class="clearfix">
    {% if result.offset > 0 %}
    <a href="/contact/list/?offset={{result.offset-result.count}}&count={{result.count}}" class="button-primary">{{_("Previous")}}</a>
    {% endif %}
    {% if result.offset + result.count < result.total %}
    <a href="/contact/list/?offset={{result.offset+result.count}}&count={{result.count}}" class="button-primary">{{_("Next")}}</a>
    {% endif %}
  <div>
    <h5>{% if result.total > 1 %}{{result.start}} - {{result.end}} {{_("of")}} {{result.total}} {{_("Contacts")}} {% elif result.total == 1 %} {{_("1 Conversation")}} {% else %} {{_("No results found")}} {% endif %}</h5><br>
    <a class="change-view-size" data-view_size="snug" href="#">{{_("Snug")}}</a>
    <a class="change-view-size" data-view_size="cozy" href="#">{{_("Cozy")}}</a>
    <a class="change-view-size" data-view_size="comfy" href="#">{{_("Comfy")}}</a>
    <a class="change-view-size" data-view_size="fluffy" href="#">{{_("Fluffy")}}</a>
  </div>
</div>
{% endif %}
</div>

{% endblock %}
