<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close button-info" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
        <span class="icon-compose"></span>
        <span class="title">{{_("Quoted Replies")}}</span>
      </h4>
    </div>
    <div class="modal-body clearfix">
      <form id="form-compose-quoted-reply" class="standard">{{ csrf_field|safe }}
        <p>{{_("Would you like to disable quoted replies in all the messages you compose?")}}</p>
        <label class="add-bottom"><input type="checkbox" name="web.quoted_reply" checked="checked"> {{_("Disable Quoted Replies")}}</label>
        <button type="submit"><span class="icon-checkmark"></span> {{_("Save")}}</button>
      </form>
    </div>
  </div>
</div>
