{% extends "base.html" %}

{% block content %}
{% include("_sub_nav_compose.html") %}


<div id="compose">

	<div class="compose-section compose-headers">
		To: <input type="email" value="">
	</div>
	<div class="compose-section compose-headers">
		Cc: <input type="email" value="">
	</div>
	<div class="compose-section compose-headers">
		Bcc: <input type="email" value="">
	</div>
	<div class="compose-section compose-subject">
		Subject: <input type="text" value="">
	</div>
	<div class="compose-section compose-message">
  	<textarea name="" cols="72" rows="20"></textarea>
	</div>
	<div class="compose-section compose-attachments">
		<span class="icon-attachment"></span> No Attachments
		
		<button type="button">Add Attachment</button>
	</div>
	<div class="compose-buttons">
    <button type="submit"><span class="icon-sent"></span> Send</button>
    <button type="submit"><span class="icon-compose"></span> Save</button>
	</div>
 
</div>

{% endblock %}
