/* Mobile - All Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  .topbar-logo-name { display: none; }

  #form-search { display: none; }

	.topbar-nav {
	  float: none;
  }

  .topbar-nav .nav-search {
    display: list-item;
  }

  #sidebar { display: none; }
  #content { margin-left: 0px; }

  /* Pile */
  #pile-results td.draggable { display: none; }
  #pile-results td.avatar { padding-left: 12px; }


}